
<section class="policy-container">
    <div class="policy-content">
      <h2 class="policy-title">Privacy Policy</h2>
      <p class="policy-text margin-bottom-32">
        This Privacy Policy applies to all personal information collected by
        BUTEC via the website located at www.butec.com.
      </p>
      <h6 class="policy-question margin-bottom-16">
        1. What is “personal information”?
      </h6>
      <div class="text-to-left">
        <span class="policy-text margin-bottom-8">
          a. The Privacy Act 1988 (Cth) currently defines “personal information”
          as meaning information or an opinion about an identified individual or
          an individual who is reasonably identifiable:
        </span>
      </div>
      <div class="policy-bullets-container margin-bottom-12">
        <ul class="life-bullets-ul policy-text">
          <li>whether the information or opinion is true or not; and</li>
          <li>
            whether the information or opinion is recorded in a material form or
            not.
          </li>
        </ul>
      </div>
      <p class="policy-text margin-bottom-32">
        b. If the information does not disclose your identity or enable your
        identity to be ascertained, it will in most cases not be classified as
        “personal information” and will not be subject to this privacy policy.
      </p>
      <h6 class="policy-question margin-bottom-16">
        2. What information do we collect?
      </h6>
      <p class="policy-text">
        The kind of personal information that we collect from you will depend on
        how you use the website. The personal information which we collect and
        hold about you may include: name, phone number, email address.
      </p>
      <h6 class="policy-question margin-bottom-16">
        3. What is “personal information”?
      </h6>
      <div class="text-to-left">
        <span class="policy-text margin-bottom-8">
          a. The Privacy Act 1988 (Cth) currently defines “personal information”
          as meaning information or an opinion about an identified individual or
          an individual who is reasonably identifiable:
        </span>
      </div>
      <div class="policy-bullets-container margin-bottom-12">
        <ul class="life-bullets-ul policy-text">
          <li>whether the information or opinion is true or not; and</li>
          <li>
            whether the information or opinion is recorded in a material form or
            not.
          </li>
        </ul>
      </div>
      <p class="policy-text margin-bottom-32">
        b. If the information does not disclose your identity or enable your
        identity to be ascertained, it will in most cases not be classified as
        “personal information” and will not be subject to this privacy policy.
      </p>
      <h6 class="policy-question margin-bottom-16">
        4. What information do we collect?
      </h6>
      <p class="policy-text">
        The kind of personal information that we collect from you will depend on
        how you use the website. The personal information which we collect and
        hold about you may include: name, phone number, email address.
      </p>
      <h6 class="policy-question margin-bottom-16">
        5. What is “personal information”?
      </h6>
      <div class="text-to-left">
        <span class="policy-text margin-bottom-8">
          a. The Privacy Act 1988 (Cth) currently defines “personal information”
          as meaning information or an opinion about an identified individual or
          an individual who is reasonably identifiable:
        </span>
      </div>
      <div class="policy-bullets-container margin-bottom-12">
        <ul class="life-bullets-ul policy-text">
          <li>whether the information or opinion is true or not; and</li>
          <li>
            whether the information or opinion is recorded in a material form or
            not.
          </li>
        </ul>
      </div>
      <p class="policy-text margin-bottom-32">
        b. If the information does not disclose your identity or enable your
        identity to be ascertained, it will in most cases not be classified as
        “personal information” and will not be subject to this privacy policy.
      </p>
      <h6 class="policy-question margin-bottom-16">
        6. What information do we collect?
      </h6>
      <p class="policy-text">
        The kind of personal information that we collect from you will depend on
        how you use the website. The personal information which we collect and
        hold about you may include: name, phone number, email address.
      </p>
      <h6 class="policy-question margin-bottom-16">
        7. What is “personal information”?
      </h6>
      <div class="text-to-left">
        <span class="policy-text margin-bottom-8">
          a. The Privacy Act 1988 (Cth) currently defines “personal information”
          as meaning information or an opinion about an identified individual or
          an individual who is reasonably identifiable:
        </span>
      </div>
      <div class="policy-bullets-container margin-bottom-12">
        <ul class="life-bullets-ul policy-text">
          <li>whether the information or opinion is true or not; and</li>
          <li>
            whether the information or opinion is recorded in a material form or
            not.
          </li>
        </ul>
      </div>
      <p class="policy-text margin-bottom-32">
        b. If the information does not disclose your identity or enable your
        identity to be ascertained, it will in most cases not be classified as
        “personal information” and will not be subject to this privacy policy.
      </p>
      <h6 class="policy-question margin-bottom-16">
        8. What information do we collect?
      </h6>
      <p class="policy-text">
        The kind of personal information that we collect from you will depend on
        how you use the website. The personal information which we collect and
        hold about you may include: name, phone number, email address.
      </p>
    </div>
  </section>
