<div class="scroll-y">
  <section class="w-100">
    <img
      src="./assets/images/Careers-Main-Image.webp"
      alt="Business Line image"
      class="bus-img img-fluid"
    />
    <img
    src="./assets/images/butec1-Mobile.jpg"
    alt="Business Line image"
    class="bus-img2 img-fluid"
  />
  </section>

  <section class="bus-headers gold-left-border">
    <div class="bus-titles-pos">
      <span class="bus-page-title">Careers</span>
      <h2 class="bus-project-title">BUTEC Academy</h2>
    </div>

    <div class="bus-content">
      <p class="life-header-summ">
        In the ever-evolving landscape of professional development, the BUTEC
        Academy stands as a testament to our commitment to excellence.
      </p>
      <p class="life-sub-para">
        Launched as a group-wide initiative, the academy aims to foster the
        continuous growth of our people, reinforcing the distinctive BUTEC way
        and culture. As we reflect on our journey, it becomes evident that the
        BUTEC Academy has become a cornerstone in our pursuit of knowledge and
        skills development. The BUTEC Academy was conceptualized with a clear
        vision, driven by several key objectives:
      </p>
      <div class="life-bullets-container">
        <ul class="life-bullets-ul">
          <li class="life-box-text m-0">
            Leverage BUTEC knowledge and expertise to share the BUTEC way
          </li>
          <li class="life-box-text m-0">
            Upscale internal capacity and enhance both technical and behavioural
            competencies
          </li>
          <li class="life-box-text m-0">
            Optimise newcomers’ experience and reduce ramp-up period
          </li>
          <li class="life-box-text m-0">
            Increase employees’ efficiency on the job and/or when changing job
            roles
          </li>
          <li class="life-box-text m-0">
            Establish a solid foundation to support career progression
          </li>
        </ul>
      </div>
      <div class="life-box white-background text-to-left">
        <img
          src="./assets/images/Careers-sub.webp"
          alt="Business Line image"
          class="life-sub-img img-fluid"
        />
      </div>

      <div class="life-sub-para-bottom">
        <p class="life-sub-para">
          To date, more than 30 technical training modules, covering a wide
          range of topics, have been meticulously developed internally by our
          Subject Matter Experts. These experts underwent comprehensive training
          and coaching sessions by our dedicated learning team, focusing on
          different methodologies for designing training content as well as
          delivering training sessions. The shared effort and commitment to
          success resulted in the creation of interactive, in-person, and
          virtual training programs that adhere to international learning
          standards. The commitment of our people, coupled with the continuous
          evolution of our learning methodologies, positions us for ongoing
          success. The BUTEC Academy is not just about training programs, it’s a
          transformative experience that empowers our workforce, propelling us
          toward greater heights of excellence. Together, we continue to build
          the blocks and shape the future of BUTEC, one skill at a time!
        </p>
      </div>
      <div class="life-box1 text-to-center">
        <h6 class="life-box1-title">Would you like to join our ranks</h6>
        <br />
        <div>
          <button class="browse-position-btn" [routerLink]="['/', 'Positions']">
            <strong>BROWSE POSITIONS</strong>
          </button>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer-container" style="position: relative; top: 2300px">
    <div class="footer-content3">
      <div class="container footer-links">
        <div class="row">
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Business Lines</h6>
            <ul class="mt-2">
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Engineering-Contracting']"
              >
                Engineering & Contracting
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Electro-Mechanical']"
              >
                Electro-Mechanical Solutions
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Facility-Services']"
              >
                Facility Services
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Utility-Services']"
              >
                Utility Services
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'List-Projects']">
                Projects
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Company</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" [routerLink]="['/', 'Leadership']">
                Leadership
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Story']">
                The Story
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'why-choose-us']">
                Why Choose Us
              </li>
              <li class="footer-subtitle">ESG</li>
              <li class="footer-subtitle" [routerLink]="['/', 'List-News']">
                News
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Contact']">
                Contact
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Careers</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" [routerLink]="['/', 'Butec-Life']">
                Life at BUTEC
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Butec-Academy']">
                BUTEC Academy
              </li>
              <li class="footer-subtitle">Open Positions</li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Privacy</h6>
            <ul class="mt-2">
              <li class="footer-subtitle">Privacy Policy</li>
              <li class="footer-subtitle">Cookie Policy</li>
              <li class="footer-subtitle">Terms and Conditions</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3 footer-icons">
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer-lines-space"
            >
              <a href="https://www.linkedin.com/company/butecgroup/" target="_blank"
                ><img
                  src="./assets/icons/social-linkedin.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://twitter.com/butecsal" target="_blank">
                <img
                  src="./assets/icons/social-twitter.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.facebook.com/BUTECsal"target="_blank"
                ><img
                  src="./assets/icons/social-facebook.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.instagram.com/butecgroup/"target="_blank"
                ><img
                  src="./assets/icons/social-instagram.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
            </div>
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 text-to-center"
            >
            <span class="rights"
                >© 2024 BUTEC. All rights reserved</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
