<div class="scroll-y">
  <section class="bus-section">
    <div class="section">
      <img
        src="{{ imageUrl }}{{ image }}"
        alt="Business Line image"
        class="bus-img img-fluid"
      />
    </div>
  </section>
  <div>
    <img
      src="./assets/icons/engineering_contracting_red.svg"
      alt="Business Line icon"
      class="bus-icon"
    />
  </div>

  <section class="bus-headers red-border">
    <div class="bus-titles-pos">
      <span class="bus-page-title text-nowrap">Business Lines</span>
      <h2 class="bus-project-title">{{ title }}</h2>
      <img
        src="./assets/icons/eng_and_cont_icon.svg"
        alt="Business Line icon"
        class="bus-icon-media"
      />
    </div>

    <div class="bus-content">
      <p class="shadow-paragraph">
        {{ paragraph1 }}
      </p>
      <br />
      <p class="bus-paragraph-desc">
        {{ paragraph2 }}
      </p>
      <div class="text-to-left bus-box-space">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-3 col-md-3 col-xs-6 col-sm-6 col-xl-3 text-to-center bus-box"
            >
              <h5 class="bus-box-title">16+</h5>
              <p class="bus-box-text">megaprojects in 2023</p>
            </div>
            <div
              class="col-lg-3 col-md-3 col-xs-6 col-sm-6 col-xl-3 text-to-center bus-box"
            >
              <h5 class="bus-box-title">Lorem</h5>
              <p class="bus-box-text">ipsum dolors sit met</p>
            </div>
            <div
              class="col-lg-3 col-md-3 col-xs-6 col-sm-6 col-xl-3 text-to-center bus-box"
            >
              <h5 class="bus-box-title">$150M+</h5>
              <p class="bus-box-text">global turnover</p>
            </div>
            <div
              class="col-lg-3 col-md-3 col-xs-6 col-sm-6 col-xl-3 text-to-center bus-box"
            >
              <h5 class="bus-box-title">Lorem</h5>
              <p class="bus-box-text">ipsum dolors sit met</p>
            </div>
          </div>
        </div>
      </div>
      <p class="bus-paragraph-desc">
        {{ paragraph3 }}
      </p>
    </div>
  </section>

  <section class="other-projects-content">
    <h2 class="other-projects-title">Projects</h2>
    <div class="other-project-box-space">
      <div class="container">
        <div class="row">
          <div
            class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xl-4 other-projects-container1"
          >
            <img
              src="./assets/icons/engineering_contracting_white.svg"
              alt="Business Line icon"
              class="projects-mini-icon1"
            />
            <img
              src="./assets/images/Sharjah Waste To Energy Plant - UAE.webp"
              alt="Business Line image"
              class="other-projects-img1"
            />

            <div class="project-details-box">
              <h6 class="project-details-title">
                Sharjah Waste To Energy Plant
              </h6>
              <br />
              <p class="project-details-location">UAE</p>
            </div>
          </div>
          <div
            class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xl-4 other-projects-container1"
          >
            <img
              src="./assets/icons/engineering_contracting_white.svg"
              alt="Business Line icon"
              class="projects-mini-icon1"
            />
            <img
              src="./assets/images/Tripoli Sea Outfall - Lebanon.webp"
              alt="Business Line image"
              class="other-projects-img1"
            />

            <div class="project-details-box">
              <h6 class="project-details-title">Tripoli Sea Outfall</h6>
              <br />
              <p class="project-details-location">Lebanon</p>
            </div>
          </div>
          <div
            class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xl-4 other-projects-container1"
          >
            <img
              src="./assets/icons/engineering_contracting_white.svg"
              alt="Business Line icon"
              class="projects-mini-icon1"
            />
            <img
              src="./assets/images/Tripoli Waste Water Treatment Plant - Lebanon.webp"
              alt="Business Line image"
              class="other-projects-img1"
            />

            <div class="project-details-box">
              <h6 class="project-details-title">
                Tripoli Waste Water Treatment Plant
              </h6>
              <br />
              <p class="project-details-location">Lebanon</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 text-to-center">
      <button class="show-more-btn">
        <strong class="show-more-text">SHOW MORE</strong>
      </button>
    </div>
  </section>
</div>
