<div class="scroll-y">
  <section class="contact-box">
    <div class="container">
      <div class="row f-container">
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 contact-header-container"
        >
          <h1 class="contact-title">Let’s build a strong<br />connection</h1>
          <p class="contact-text">
            Take the next step by reaching out for inquiries and sharing your<br />
            valuable feedback with us.
          </p>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 contact-map-container"
        >
          <img
            src="./assets/images/Contact-Home-Map.svg"
            alt="Contact Map Image"
            class="contact-map"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Headquarters, code starts here -->
  <section class="headquarter-container">
    <h2 class="headquarter-title">Headquarters</h2>
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 headquarter-box"
        >
          <div class="headquarter-box-content">
            <h6 class="headquarter-box-title">Lebanon</h6>
            <p class="headquarter-box-text">
              BUTEC Tower, Mkalles Square<br />Sin El Fil, Beirut - Lebanon
            </p>
            <p class="headquarter-box-text">P.O. Box 109829, Abu Dhabi</p>
            <p class="headquarter-box-text">
              T. +961 1 512 333<br />F. +961 1 512 444
            </p>
            <p class="headquarter-box-text">lebanon@butec-group.com</p>
          </div>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 headquarter-box"
        >
          <div class="headquarter-box-content">
            <h6 class="headquarter-box-title">United Arab Emirates</h6>
            <p class="headquarter-box-text">
              Office No. 306, SJ Tower, Airport<br />Road Abu Dhabi - United Arab
              Emirates
            </p>
            <p class="headquarter-box-text">P.O. Box 109829, Abu Dhabi</p>
            <p class="headquarter-box-text">
              T. +971 2 443 9869<br />F. +971 2 443 9852
            </p>
            <p class="headquarter-box-text">uae@butec-group.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 text-to-center">
      <button class="view-all-branches-btn">
        <strong class="view-all-text">VIEW ALL BRANCHES</strong>
      </button>
    </div>
  </section>
  <!-- Headquarters, code ends here -->
  <!-- Write us, code starts here -->
  <section class="write-us-container">
    <div class="write-us-space">
      <h2 class="headquarter-title">Write us</h2>
      <div class="write-us-content">
        <div class="container">
          <h6 class="write-us-element">Purpose*</h6>
          <div class="row">
            <div
              class="col-12 col-xs-12 col-s-12 col-md-12 col-xl-12 col-lg-12 text-to-left"
            >
              <input
                #purposeInput
                type="text"
                class="form-control write-us-dropdown"
                id="purposeInput"
                placeholder=""
                name="purpose"
              />
              <div class="text-to-left">
                <label class="write-us-hint">
                  This will make sure your message reaches the right channel
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="container w-100">
          <h6 class="write-us-element">Name*</h6>
          <div class="row">
            <div
              class="col-12 col-xs-12 col-s-12 col-md-6 col-xl-6 col-lg-12 text-to-left"
            >
              <input
                #nameInput
                type="text"
                class="form-control write-us-textbox"
                id="nameInput"
                placeholder=""
                name="name"
              />
              <div class="text-to-left">
                <label class="write-us-hint">First name</label>
              </div>
            </div>
            <div
              class="col-12 col-xs-12 col-s-12 col-md-6 col-xl-6 col-lg-12 text-to-left"
            >
              <input
                #lastNameInput
                type="text"
                class="form-control write-us-textbox"
                id="lastNameInput"
                placeholder=""
                name="lastName"
              />
              <div class="text-to-left">
                <label class="write-us-hint">Last name</label>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-xs-12 col-s-12 col-md-6 col-xl-6 col-lg-12 text-to-left"
            >
              <h6 class="write-us-element">Email*</h6>
              <input
                #emailInput
                type="text"
                class="form-control write-us-textbox"
                id="emailInput"
                placeholder=""
                name="email"
              />
              <div class="text-to-left">
                <label class="write-us-hint">example@example.com</label>
              </div>
            </div>
            <div
              class="col-12 col-xs-12 col-s-12 col-md-6 col-xl-6 col-lg-12 text-to-left"
            >
              <h6 class="write-us-element">Phone number*</h6>
              <input
                #phoneNumberInput
                type="text"
                class="form-control write-us-textbox"
                id="phoneNumberInput"
                placeholder=""
                name="phoneNumber"
              />
              <div class="text-to-left">
                <label class="write-us-hint">
                  Including country code, no spaces or separators
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-xs-12 col-s-12 col-md-12 col-xl-12 col-lg-12 text-to-left"
            >
              <h6 class="write-us-element">Message*</h6>
              <input
                #emailInput
                type="text"
                class="form-control write-us-message"
                id="messageInput"
                placeholder=""
                name="message"
              />
              <div class="text-to-left">
                <label class="write-us-hint"
                  >Please do not exceed 500 characters</label
                >
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 text-to-center">
          <button class="view-all-branches-btn yellow-background">
            <strong class="view-all-text">SUBMIT MESSAGE</strong>
          </button>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer-container" style="position: relative; top: 150px">
    <div class="footer-content">
      <div class="container footer-links">
        <div class="row">
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Business Lines</h6>
            <ul class="mt-2">
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Engineering-Contracting']"
              >
                Engineering & Contracting
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Electro-Mechanical']"
              >
                Electro-Mechanical Solutions
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Facility-Services']"
              >
                Facility Services
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Utility-Services']"
              >
                Utility Services
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'List-Projects']">
                Projects
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Company</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" [routerLink]="['/', 'Leadership']">
                Leadership
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Story']">
                The Story
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'why-choose-us']">
                Why Choose Us
              </li>
              <li class="footer-subtitle">ESG</li>
              <li class="footer-subtitle" [routerLink]="['/', 'List-News']">
                News
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Contact']">
                Contact
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Careers</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" [routerLink]="['/', 'Butec-Life']">
                Life at BUTEC
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Butec-Academy']">
                BUTEC Academy
              </li>
              <li class="footer-subtitle">Open Positions</li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Privacy</h6>
            <ul class="mt-2">
              <li class="footer-subtitle">Privacy Policy</li>
              <li class="footer-subtitle">Cookie Policy</li>
              <li class="footer-subtitle">Terms and Conditions</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3 footer-icons">
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer-lines-space"
            >
              <a href="https://www.linkedin.com/company/butecgroup/" target="_blank"
                ><img
                  src="./assets/icons/social-linkedin.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://twitter.com/butecsal" target="_blank">
                <img
                  src="./assets/icons/social-twitter.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.facebook.com/BUTECsal"target="_blank"
                ><img
                  src="./assets/icons/social-facebook.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.instagram.com/butecgroup/"target="_blank"
                ><img
                  src="./assets/icons/social-instagram.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
            </div>
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 text-to-center"
            >
            <span class="rights"
                >© 2024 BUTEC. All rights reserved</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Write us, code ends here -->
</div>
