
  <section>
    <img
      src="./assets/images/leadership_Main.webp"
      alt="Leader ship main image"
      class="bus-img img-fluid"
    />
    <img
    src="./assets/images/leadership-mobile.jpg"
    alt="Business Line image"
    class="bus-img2 img-fluid"
  />
  </section>
  <section class="bus-headers gold-left-border">
    <div class="bus-titles-pos">
      <span class="bus-page-title">About</span>
      <h2 class="bus-project-title">Leadership</h2>
    </div>

    <div class="bus-content">
      <div class="container move-left1">
        <div class="row">
          <div
            class="col-12 col-sm-12 col-s-12 col-xs-12 col-md-6 col-lg-6 col-xl-6"
          >
            <h2 class="founder-msg-title">Message of the Founder</h2>
            <p class="founder-msg-text founder-msg-container">
              BUTEC, established over 50 years ago, has overcome challenges such
              as Lebanon’s civil war and current regional turmoil. Passing the
              leadership to Chairman Ziad Younes, I am confident in the
              company’s continued success. My focus now turns to Lebanon’s
              societal unity and the pursuit of a democratic civil state.
              Despite the difficulty of leaving my cherished career, I am
              compelled to contribute to national issues. I encourage your
              commitment to values and ethics, emphasising the significance of
              your achievements in Lebanon’s struggle. I remain devoted to your
              endeavours and the vision of an “Other Lebanon.” <br />Dr. Nizar
              Younes
              <span class="founder-sign"><br />Founder</span>
            </p>
          </div>

          <div
            class="col-12 col-sm-12 col-s-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 leaders-img-container"
          >
            <img
              src="./assets/images/FounderImage.webp"
              alt="Business Line image"
              class="leaders-img"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
            <h2 class="founder-msg-title founder-msg-title2 text-to-left text-nowrap">
              Message of the Chairman
            </h2>
            <p class="founder-msg-text chairman-msg-container text-to-left">
              BUTEC, or “Bureau Technique d’Etudes et de Construction,” began as
              an innovative EPC contractor over 50 years ago. The company values
              the potential of its workforce, emphasizing innovation and
              improvement. Committed to fulfilling contractual obligations
              globally, BUTEC combines the cost structure of a local contractor
              with the technical expertise of an international one. Despite its
              growth, the company has preserved a family- oriented culture. As
              chairman since 2015, I am proud of our achievements and look
              forward to the next phase of growth. In these uncertain times,
              preserving BUTEC’s tradition of dynamic yet careful movement is
              crucial for continued success. I rely on each team member to
              contribute to the exciting journey ahead. <br />Ziad Younes
              <span class="founder-sign"><br />Chairman</span>
            </p>
          </div>
          <div
            class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6 leaders-img-container"
          >
            <img
              src="./assets/images/ChairmanImage.webp"
              alt="Business Line image"
              class="leaders-img leaders-img2"
            />
          </div>
        </div>
      </div>
      <!--<div class="w-100 text-to-left">
        <div class="map-title-container">
          <h2 class="our-commitments">Governing Team</h2>
        </div>
        <div class="map-container">
          <img
            src="./assets/images/GoverningTeam-Map.svg"
            alt="Business Line image"
            class="govering-team-map img-fluid"
          />
        </div>
      </div>-->
      <div class="w-100 text-to-left">
        <div class="map-title-container">
          <h2 class="our-commitments">Our Commitments</h2>
        </div>
        <div class="container text-to-left" style="margin-left: 10px">
          <div class="row text-to-left">
            <div
              class="col-12 col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12 com-container"
            >
              <h2 class="com-box-title text-to-left com-box-title-space mt-5">
                Integrated Management System
              </h2>
              <div class="text-to-left com-box-title-space">
                <div class="container">
                  <div class="row">
                    <div
                      class="col-1 col-md-1 col-lg-1 col-sm-1 col-xs-1 col-xl-1"
                    >
                      <img
                        src="./assets/icons/double_qoutation.svg"
                        alt="Double Qoutations"
                        class="info-qoutation"
                      />
                    </div>
                    <div
                      class="col-11 col-md-11 col-lg-11 col-sm-11 col-xs-11 col-xl-11"
                    >
                      <p class="com-paragraph">
                        BUTEC’s Integrated Management System (IMS) consolidates
                        quality, environment, and occupational health and safety
                        management systems, streamlining processes for increased
                        efficiency. The IMS guides the company’s activities,
                        ensuring the necessary procedures and documentation
                        align with BUTEC’s certifications in Quality,
                        Environment, and Occupational Health and Safety.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12 com-container mb-4"
            >
              <h2 class="com-box-title text-to-left com-box-title-space mt-5">
                Quality, Health, Safety, Environment
              </h2>
              <div class="text-to-left com-box-title-space mt-3">
                <div class="container">
                  <div class="row">
                    <div
                      class="col-1 col-md-1 col-lg-1 col-sm-1 col-xs-1 col-xl-1"
                    >
                      <img
                        src="./assets/icons/double_qoutation.svg"
                        alt="Double Qoutations"
                        class="info-qoutation"
                      />
                    </div>
                    <div
                      class="col-11 col-md-11 col-lg-11 col-sm-11 col-xs-11 col-xl-11"
                    >
                      <p class="com-paragraph">
                        BUTEC attributes its success and growth to a strong
                        emphasis on quality in all activities. The company is
                        dedicated to environmental protection on project sites
                        and prioritizes workforce health and safety by
                        consistently allocating resources to mitigate risks.
                        Despite diverse project requirements, BUTEC adapts
                        effectively, as seen in its numerous certifications.
                        These achievements align with sustainable growth
                        practices.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12 com-container mb-4"
            >
              <h2 class="com-box-title text-to-left com-box-title-space mt-5">
                Diversity
              </h2>
              <div class="text-to-left com-box-title-space mt-3">
                <div class="container">
                  <div class="row">
                    <div
                      class="col-1 col-md-1 col-lg-1 col-sm-1 col-xs-1 col-xl-1"
                    >
                      <img
                        src="./assets/icons/double_qoutation.svg"
                        alt="Double Qoutations"
                        class="info-qoutation"
                      />
                    </div>
                    <div
                      class="col-11 col-md-11 col-lg-11 col-sm-11 col-xs-11 col-xl-11"
                    >
                      <p class="com-paragraph">
                        BUTEC fosters a growth-oriented, inclusive work
                        environment that promotes personal and career success.
                        Diversity is a central corporate initiative, emphasizing
                        recruitment and retention from diverse cultures and
                        backgrounds. We value and nurture our people, ensuring
                        equal opportunities, dignity, and respect for all.
                        BUTEC’s focus on diversity shapes a culture where
                        employees are inspired to share their passion and ideas,
                        contributing to success in our industry.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12 com-container mb-4"
            >
              <h2 class="com-box-title text-to-left com-box-title-space mt-5">
                Sustainability
              </h2>
              <div class="text-to-left com-box-title-space mt-3">
                <div class="container">
                  <div class="row">
                    <div
                      class="col-1 col-md-1 col-lg-1 col-sm-1 col-xs-1 col-xl-1"
                    >
                      <img
                        src="./assets/icons/double_qoutation.svg"
                        alt="Double Qoutations"
                        class="info-qoutation"
                      />
                    </div>
                    <div
                      class="col-11 col-md-11 col-lg-11 col-sm-11 col-xs-11 col-xl-11"
                    >
                      <p class="com-paragraph">
                        BUTEC frequently monitors its processes and operations
                        in order to ensure that we are always adhering to
                        health, safety, environmental, and quality standards as
                        well as regulatory changes. We believe in following
                        sustainable business practices by setting high health
                        and safety standards, improving the environment, and
                        achieving high client satisfaction while operating in
                        accordance with the acquired ISO standards.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer-container1" style="position: relative; top: 3200px">
    <div class="footer-content1">
      <div class="container footer-links">
        <div class="row">
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Business Lines</h6>
            <ul class="mt-2">
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Engineering-Contracting']"
              >
                Engineering & Contracting
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Electro-Mechanical']"
              >
                Electro-Mechanical Solutions
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Facility-Services']"
              >
                Facility Services
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Utility-Services']"
              >
                Utility Services
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'List-Projects']">
                Projects
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Company</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" [routerLink]="['/', 'Leadership']">
                Leadership
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Story']">
                The Story
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'why-choose-us']">
                Why Choose Us
              </li>
              <li class="footer-subtitle">ESG</li>
              <li class="footer-subtitle" [routerLink]="['/', 'List-News']">
                News
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Contact']">
                Contact
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Careers</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" [routerLink]="['/', 'Butec-Life']">
                Life at BUTEC
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Butec-Academy']">
                BUTEC Academy
              </li>
              <li class="footer-subtitle">Open Positions</li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Privacy</h6>
            <ul class="mt-2">
              <li class="footer-subtitle">Privacy Policy</li>
              <li class="footer-subtitle">Cookie Policy</li>
              <li class="footer-subtitle">Terms and Conditions</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3 footer-icons">
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer-lines-space"
            >
              <a href="https://www.linkedin.com/company/butecgroup/" target="_blank"
                ><img
                  src="./assets/icons/social-linkedin.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://twitter.com/butecsal" target="_blank">
                <img
                  src="./assets/icons/social-twitter.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.facebook.com/BUTECsal"target="_blank"
                ><img
                  src="./assets/icons/social-facebook.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.instagram.com/butecgroup/"target="_blank"
                ><img
                  src="./assets/icons/social-instagram.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
            </div>
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 text-to-center"
            >
            <span class="rights"
                >© 2024 BUTEC. All rights reserved</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
