<form class="main-con">
  <div>
    <h1>{{ buttonName }} News</h1>
  </div>
  <div class="row form-group mt-4">
    <div class="col-md-6">
      <label for="newsTitleInput">Title</label>
      <input
        type="text"
        class="form-control"
        id="newsTitleInput"
        name="newsTitleInput"
        placeholder="News title"
        [(ngModel)]="newsTitle"
      />
    </div>
    <div class="col-md-6" *ngIf="newsId == null">
      <label for="languageSelect">Language</label>
      <select
        class="form-control"
        id="languageSelect"
        name="languageSelect"
        (change)="LanguageSelectionChange($event)"
      >
        <option value="-1">Select Language</option>
        <option value="2">English</option>
        <option value="3">French</option>
        <option value="1">Arabic</option>
      </select>
    </div>
    <div class="col-md-6" *ngIf="newsId != null">
      <label for="languageSelect">Language</label>
      <select
        class="form-control"
        id="languageSelect"
        name="languageSelect"
        [(ngModel)]="languageId"
        (change)="LanguageSelectionChange($event)"
      >
        <option value="2">English</option>
        <option value="3">French</option>
        <option value="1">Arabic</option>
      </select>
    </div>
  </div>
  <div class="row form-group mt-4">
    <div class="col-md-6">
      <label for="interviewDateInput">Interview Date</label>
      <input
        type="datetime-local"
        class="form-control datetimepicker-input"
        id="interviewDateInput"
        placeholder="Date"
        name="Date"
        [(ngModel)]="interviewDate"
      />
    </div>
    <div class="col-md-6" *ngIf="locationId == null">
      <label for="locationSelect">Location</label>
      <select
        class="form-control"
        id="locationSelect"
        name="locationSelect"
        (change)="LocationSelectionChange($event)"
      >
        <option value="-1">Select Location</option>
        <option value="Lebanon">Lebanon</option>
        <option value="UAE">UAE</option>
        <option value="Qatar">Qatar</option>
      </select>
    </div>
    <div class="col-md-6" *ngIf="locationId != null">
      <label for="locationSelect">Location</label>
      <select
        class="form-control"
        id="locationSelect"
        name="locationSelect"
        [(ngModel)]="locationId"
        (change)="LocationSelectionChange($event)"
      >
        <option value="Lebanon">Lebanon</option>
        <option value="UAE">UAE</option>
        <option value="Qatar">Qatar</option>
      </select>
    </div>
  </div>
  <div class="row form-group mt-4">
    <div class="form-group">
      <fieldset class="form-group">
        <label>Main Image</label>
        <!--{{ imageError }}-->
        <div class="custom-file fileInputProfileWrap">
          <input
            type="file"
            (change)="OnFileChange($event)"
            class="fileInputProfile form-control"
          />
          <div class="img-space mt-2" id="image">
            <ng-container *ngIf="isImageSaved; else elseTemplate">
              <img
                class="imagesize img-responsive"
                id="chosenImage"
                alt="No Image"
                [src]="cardImageBase64"
              />
            </ng-container>
            <ng-template #elseTemplate>
              <img
                *ngIf="newsId == null || image == null || image == ''"
                src="./../../assets/img/image_placeholder.png"
                class="imagesize img-responsive"
                alt="No Image"
              />
              <img
                *ngIf="newsId != null && image != null && image != ''"
                src="{{ image }}"
                class="imagesize img-responsive"
                alt="No Image"
              />
            </ng-template>
          </div>
        </div>
      </fieldset>
      <!--<label for="imageInput">Project Image</label>&nbsp;
        <input
          type="file"
          class="form-control-file"
          id="imageInput"
          (change)="OnFileChange($event)"
        />&nbsp;-->
    </div>
  </div>
  <div class="row form-group mt-4">
    <div
      class="custom-dropzone"
      ngx-dropzone
      [accept]="'image/*'"
      (change)="onSelect($event)"
    >
      <ngx-dropzone-label>
        <div>
          <h2>News Sub Images</h2>
        </div>
      </ngx-dropzone-label>
      <ngx-dropzone-image-preview
        ngProjectAs="ngx-dropzone-preview"
        *ngFor="let f of files"
        [file]="f"
        [removable]="true"
        (removed)="onRemove(f)"
      >
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-image-preview>
    </div>
  </div>
  <div class="row form-group mt-4">
    <div class="col-md-12">
      <label for="imageSubTitleTxtArea">Main Image SubTitle</label>
      <textarea
        class="form-control"
        id="imageSubTitleTxtArea"
        rows="5"
        name="imageSubTitle"
        [(ngModel)]="imageSubTitle"
      ></textarea>
    </div>
  </div>
  <div class="row form-group mt-4">
    <div class="col-md-12">
      <label for="summaryTxtArea">Summary</label>
      <textarea
        class="form-control"
        id="summaryTxtArea"
        rows="5"
        name="summaryTxtArea"
        [(ngModel)]="summary"
      ></textarea>
    </div>
  </div>
  <div class="row form-group mt-4">
    <div class="col-md-12">
      <label for="descriptionTxtArea">Description</label>
      <textarea
        class="form-control"
        id="descriptionTxtArea"
        rows="5"
        name="descriptionTxtArea"
        [(ngModel)]="description"
      ></textarea>
    </div>
  </div>
  <!--<div class="row form-group mt-4">
    <div class="col-md-12">
      <label for="notesTxtArea">Notes</label>
      <textarea
        class="form-control"
        id="notesTxtArea"
        rows="5"
        name="notesTxtArea"
        [(ngModel)]="notes"
      ></textarea>
    </div>
  </div>-->
  <div class="row form-group mt-4">
    <div class="m-t-20 text-center">
      <a
        class="btn btn-primary btn-lg"
        (click)="AddEditNews()"
        href="javascript:void(0)"
        >{{ buttonName }} News</a
      >
    </div>
  </div>
</form>
