<div class="scroll-y">
  <section>
    <img
      src="./assets/images/Story-Main-Image.webp"
      alt="Story Main image"
      class="bus-img img-fluid"
    />
    <img
    src="./assets/images/butec-Mobile.jpg"
    alt="Business Line image"
    class="bus-img2 img-fluid"
  />
  </section>

  <section class="bus-headers gold-left-border">
    <div class="bus-titles-pos">
      <span class="bus-page-title">About</span>
      <h2 class="bus-project-title">The Story</h2>
    </div>

    <div class="bus-content">
      <p class="stroy-text-shadow">
        Embarking from its roots in vibrant Beirut in 1964, BUTEC has evolved
        into a regional institutionalized group specializing in four business
        lines: Engineering & Contracting, Electro-Mechanical Solutions, Facility
        Services, and Utility Services.
      </p>
      <p class="story-text">
        Actively seeking to unlock synergies, BUTEC empowers the delivery of
        high-value, holistic solutions relying on the latest innovations. With
        an impressive legacy spanning almost 60 years, BUTEC takes pride in a
        rich history of delivering innovative projects, underpinned by a firm
        commitment to safety best practices and integrity. Our diverse project
        track record caters to various industries, including oil and gas, power,
        water, infrastructure and industrial facilities. Headquartered in Dubai
        and Beirut, BUTEC has expanded its presence to 21 countries throughout
        the Middle East and Africa. Our greatest asset is our people, and we
        take pride in our team of 4,500 skilled experts who are ready for new
        challenges and continuous growth. Driven by a strong dedication and
        passion, they embody a robust Group culture and uphold high standards of
        quality.
      </p>
    </div>
  </section>
  <section class="story-content">
    <div class="story-img-container text-to-center">
      <img
        src="./assets/images/Story-sub-image.webp"
        alt="Business Line image img-fluid"
        class="story-img img-fluid"
      />
    </div>
  </section>
  <section class="story-text-content text-to-center">
    <p class="story-text">
      At BUTEC, our success extends far beyond mere expansion; it’s about
      cultivating impactful partnerships and collaborations with the
      international market. We earn trust through proficiency, consistently
      pushing boundaries and exceeding industry expectations. Since the
      beginning, BUTEC has been driven by adaptability, diversity, resilience,
      and innovation, all guided by a singular vision: creating a better future
      in everything we do… Join us on this journey of excellence and innovation.
    </p>
  </section>
  <section class="milestones-content">
    <div class="gold-left-border" style="padding-bottom: 32px">
      <h2 class="milestones">Milestones</h2>
      <div>
        <div class="container-fluid">
          <div class="row milestones-section mb-3">
            <div
              class="col-1 col-md-1 col-lg-1 col-xs-1 col-s-1 col-sm-1 col-xl-1 text-to-center"
            >
              <h6 class="milestones-part1">1964</h6>
            </div>
            <div
              class="col-9 col-md-9 col-lg-9 col-xs-9 col-s-9 col-sm-9 col-xl-9 text-to-left"
            >
              <p class="milestones-part2">
                BUTEC, a specialised EPC company is
                <strong>founded</strong> in Lebanon.
              </p>
            </div>
            <div
              class="col-2 col-md-2 col-lg-2 col-xs-2 col-s-2 col-sm-2 col-xl-2 text-to-center red-background"
            >
              <div class="container">
                <div class="row">
                  <div
                    class="col-6 col-md-6 col-lg-6 col-xs-6 col-s-6 col-sm-6 col-xl-6 text-to-right"
                    style="height: 78px"
                  >
                    <img
                      src="./assets/icons/Leb_icon.svg"
                      alt="Milestone Image"
                      class="milestones-part3"
                    />
                  </div>
                  <div
                    class="col-6 col-md-6 col-lg-6 col-xs-6 col-s-6 col-sm-6 col-xl-6 text-to-left"
                  >
                    <img
                      src="./assets/icons/engineering_contracting_white.svg"
                      alt="Milestone Image"
                      class="milestones-part3"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row milestones-section mb-3">
            <div
              class="col-1 col-md-1 col-lg-1 col-xs-1 col-s-1 col-sm-1 col-xl-1 text-to-center"
            >
              <h6 class="milestones-part1">1980</h6>
            </div>
            <div
              class="col-9 col-md-9 col-lg-9 col-xs-9 col-s-9 col-sm-9 col-xl-9 text-to-left"
            >
              <p class="milestones-part2">
                Establishment of the <strong>Dubai</strong> branch.
              </p>
            </div>
            <div
              class="col-2 col-md-2 col-lg-2 col-xs-2 col-s-2 col-sm-2 col-xl-2 text-to-center gray-background"
            >
              <img
                src="./assets/icons/uae_icon.svg"
                alt="Business Line image"
                class="milestones-part3"
              />
            </div>
          </div>
          <div class="row milestones-section mb-3">
            <div
              class="col-1 col-md-1 col-lg-1 col-xs-1 col-s-1 col-sm-1 col-xl-1 text-to-center"
            >
              <h6 class="milestones-part1">1982</h6>
            </div>
            <div
              class="col-9 col-md-9 col-lg-9 col-xs-9 col-s-9 col-sm-9 col-xl-9 text-to-left"
            >
              <p class="milestones-part2">
                Establishment of the <strong>Saudi Arabia</strong> branch.
              </p>
            </div>
            <div
              class="col-2 col-md-2 col-lg-2 col-xs-2 col-s-2 col-sm-2 col-xl-2 text-to-center gray-background"
            >
              <img
                src="./assets/icons/saudi_icon.svg"
                alt="Business Line image"
                class="milestones-part3"
              />
            </div>
          </div>
          <div class="row milestones-section mb-3">
            <div
              class="col-1 col-md-1 col-lg-1 col-xs-1 col-s-1 col-sm-1 col-xl-1 text-to-center"
            >
              <h6 class="milestones-part1">2005</h6>
            </div>
            <div
              class="col-9 col-md-9 col-lg-9 col-xs-9 col-s-9 col-sm-9 col-xl-9 text-to-left"
            >
              <p class="milestones-part2">
                Establishment of the <strong>Algeria</strong> branch.
              </p>
            </div>
            <div
              class="col-2 col-md-2 col-lg-2 col-xs-2 col-s-2 col-sm-2 col-xl-2 text-to-center gray-background"
            >
              <img
                src="./assets/icons/algeria_icon.svg"
                alt="Ageria Flag"
                class="milestones-part3"
              />
            </div>
          </div>
          <div class="row milestones-section mb-3">
            <div
              class="col-1 col-md-1 col-lg-1 col-xs-1 col-s-1 col-sm-1 col-xl-1 text-to-center"
            >
              <h6 class="milestones-part1">2006</h6>
            </div>
            <div
              class="col-9 col-md-9 col-lg-9 col-xs-9 col-s-9 col-sm-9 col-xl-9 text-to-left"
            >
              <p class="milestones-part2">
                Establishment of the <strong>Qatar</strong> branch.
              </p>
            </div>
            <div
              class="col-2 col-md-2 col-lg-2 col-xs-2 col-s-2 col-sm-2 col-xl-2 text-to-center gray-background"
            >
              <img
                src="./assets/icons/qatar_icon.svg"
                alt="Qatar Flag"
                class="milestones-part3"
              />
            </div>
          </div>
          <div class="row milestones-section mb-3">
            <div
              class="col-1 col-md-1 col-lg-1 col-xs-1 col-s-1 col-sm-1 col-xl-1 text-to-center"
            >
              <h6 class="milestones-part1">2007</h6>
            </div>
            <div
              class="col-9 col-md-9 col-lg-9 col-xs-9 col-s-9 col-sm-9 col-xl-9 text-to-left"
            >
              <p class="milestones-part2">
                Establishment of the <strong>Abu Dhabi</strong> branch.
              </p>
            </div>
            <div
              class="col-2 col-md-2 col-lg-2 col-xs-2 col-s-2 col-sm-2 col-xl-2 text-to-center gray-background"
            >
              <img
                src="./assets/icons/uae_icon.svg"
                alt="UAE Flag"
                class="milestones-part3"
              />
            </div>
          </div>
          <div class="row milestones-section mb-3">
            <div
              class="col-1 col-md-1 col-lg-1 col-xs-1 col-s-1 col-sm-1 col-xl-1 text-to-center"
            >
              <h6 class="milestones-part1">2008</h6>
            </div>
            <div
              class="col-9 col-md-9 col-lg-9 col-xs-9 col-s-9 col-sm-9 col-xl-9 text-to-left"
            >
              <p class="milestones-part2-1">
                The International Finance Corporation (IFC), a member of the
                World Bank Group, became an
                <strong>equity partner</strong> (16.67%) in BUTEC Group.
              </p>
            </div>
            <div
              class="col-2 col-md-2 col-lg-2 col-xs-2 col-s-2 col-sm-2 col-xl-2 text-to-center gray-background"
            >
              <img
                src="./assets/images/equity_partner.png"
                alt="Business Line image"
                class="milestones-part3"
              />
            </div>
          </div>
          <div class="row milestones-section mb-3">
            <div
              class="col-1 col-md-1 col-lg-1 col-xs-1 col-s-1 col-sm-1 col-xl-1 text-to-center"
            >
              <h6 class="milestones-part1">2010</h6>
            </div>
            <div
              class="col-9 col-md-9 col-lg-9 col-xs-9 col-s-9 col-sm-9 col-xl-9 text-to-left"
            >
              <p class="milestones-part2">
                Establishment of the <strong>Jordan</strong> branch.
              </p>
            </div>
            <div
              class="col-2 col-md-2 col-lg-2 col-xs-2 col-s-2 col-sm-2 col-xl-2 text-to-center gray-background"
            >
              <img
                src="./assets/icons/jordan_icon.svg"
                alt="Jordan Flag"
                class="milestones-part3"
              />
            </div>
          </div>
          <div class="row milestones-section mb-3">
            <div
              class="col-1 col-md-1 col-lg-1 col-xs-1 col-s-1 col-sm-1 col-xl-1 text-to-center"
            >
              <h6 class="milestones-part1">2011</h6>
            </div>
            <div
              class="col-9 col-md-9 col-lg-9 col-xs-9 col-s-9 col-sm-9 col-xl-9 text-to-left"
            >
              <p class="milestones-part2-1">
                Diversification into <strong>Utility Services</strong> with the
                1st Electricity Distribution contract for EDL Lebanon.
              </p>
            </div>
            <div
              class="col-2 col-md-2 col-lg-2 col-xs-2 col-s-2 col-sm-2 col-xl-2 text-to-center green-background2"
            >
              <img
                src="./assets/icons/new icon for Utility Services.jpg"
                alt="Business Line image"
                class="milestones-part3"
              />
            </div>
          </div>
          <div class="row milestones-section mb-3">
            <div
              class="col-1 col-md-1 col-lg-1 col-xs-1 col-s-1 col-sm-1 col-xl-1 text-to-center"
            >
              <h6 class="milestones-part1">2021</h6>
            </div>
            <div
              class="col-9 col-md-9 col-lg-9 col-xs-9 col-s-9 col-sm-9 col-xl-9 text-to-left"
            >
              <p class="milestones-part2">
                Inauguration of the new headquarters in <strong>Dubai.</strong>
              </p>
            </div>
            <div
              class="col-2 col-md-2 col-lg-2 col-xs-2 col-s-2 col-sm-2 col-xl-2 text-to-center gray-background"
            >
              <img
                src="./assets/icons/uae_icon.svg"
                alt="UAE Flag"
                class="milestones-part3"
              />
            </div>
          </div>
          <div class="row milestones-section mb-3">
            <div
              class="col-1 col-md-1 col-lg-1 col-xs-1 col-s-1 col-sm-1 col-xl-1 text-to-center"
            >
              <h6 class="milestones-part1">2021</h6>
            </div>
            <div
              class="col-9 col-md-9 col-lg-9 col-xs-9 col-s-9 col-sm-9 col-xl-9 text-to-left"
            >
              <p class="milestones-part2">
                Establishment of the <strong>Ivory Coast</strong> branch.
              </p>
            </div>
            <div
              class="col-2 col-md-2 col-lg-2 col-xs-2 col-s-2 col-sm-2 col-xl-2 text-to-center gray-background"
            >
              <img
                src="./assets/icons/cote_icon.svg"
                alt="Business Line image"
                class="milestones-part3"
              />
            </div>
          </div>
          <div class="row milestones-section">
            <div
              class="col-1 col-md-1 col-lg-1 col-xs-1 col-s-1 col-sm-1 col-xl-1 text-to-center"
            >
              <h6 class="milestones-part1">2022</h6>
            </div>
            <div
              class="col-9 col-md-9 col-lg-9 col-xs-9 col-s-9 col-sm-9 col-xl-9 text-to-left"
            >
              <p class="milestones-part2-1">
                Diversification into <strong>Electro-mechanical</strong> and
                <strong>Facility Management</strong> through the acquisition of
                17 specialized Engie companies in Africa.
              </p>
            </div>
            <div
              class="col-2 col-md-2 col-lg-2 col-xs-2 col-s-2 col-sm-2 col-xl-2 text-to-center teal-background2"
            >
              <div class="row">
                <div
                  class="col-6 col-md-6 col-lg-6 col-xs-6 col-s-6 col-sm-6 col-xl-6 text-to-center cerulean-background"
                  style="height: 78px"
                >
                  <img
                    src="./assets/icons/electro_mechincal_white.svg"
                    alt="Business Line image"
                    class="milestones-part3 cerulean-background"
                  />
                </div>
                <div
                  class="col-6 col-md-6 col-lg-6 col-xs-6 col-s-6 col-sm-6 col-xl-6 text-to-center"
                >
                  <img
                    src="./assets/icons/facility_services_white.svg"
                    alt="Business Line image"
                    class="milestones-part3"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="triangle-element"></div>
  </section>
</div>
<footer class="footer-container" style="position: relative; top: 3200px">
  <div class="footer-content2">
    <div class="container footer-links">
      <div class="row">
        <div
          class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
        >
          <h6 class="footer-title">Business Lines</h6>
          <ul class="mt-2">
            <li
              class="footer-subtitle"
              [routerLink]="['/', 'Engineering-Contracting']"
            >
              Engineering & Contracting
            </li>
            <li
              class="footer-subtitle"
              [routerLink]="['/', 'Electro-Mechanical']"
            >
              Electro-Mechanical Solutions
            </li>
            <li
              class="footer-subtitle"
              [routerLink]="['/', 'Facility-Services']"
            >
              Facility Services
            </li>
            <li
              class="footer-subtitle"
              [routerLink]="['/', 'Utility-Services']"
            >
              Utility Services
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'List-Projects']">
              Projects
            </li>
          </ul>
        </div>
        <div
          class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
        >
          <h6 class="footer-title">Company</h6>
          <ul class="mt-2">
            <li class="footer-subtitle" [routerLink]="['/', 'Leadership']">
              Leadership
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'Story']">
              The Story
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'why-choose-us']">
              Why Choose Us
            </li>
            <li class="footer-subtitle">ESG</li>
            <li class="footer-subtitle" [routerLink]="['/', 'List-News']">
              News
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'Contact']">
              Contact
            </li>
          </ul>
        </div>
        <div
          class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
        >
          <h6 class="footer-title">Careers</h6>
          <ul class="mt-2">
            <li class="footer-subtitle" [routerLink]="['/', 'Butec-Life']">
              Life at BUTEC
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'Butec-Academy']">
              BUTEC Academy
            </li>
            <li class="footer-subtitle">Open Positions</li>
          </ul>
        </div>
        <div
          class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
        >
          <h6 class="footer-title">Privacy</h6>
          <ul class="mt-2">
            <li class="footer-subtitle">Privacy Policy</li>
            <li class="footer-subtitle">Cookie Policy</li>
            <li class="footer-subtitle">Terms and Conditions</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-3 footer-icons">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer-lines-space"
          >
            <a href="https://www.linkedin.com/company/butecgroup/" target="_blank"
              ><img
                src="./assets/icons/social-linkedin.svg"
                alt="Home image"
                class="footer-social-media"
            /></a>
            <a href="https://twitter.com/butecsal" target="_blank">
              <img
                src="./assets/icons/social-twitter.svg"
                alt="Home image"
                class="footer-social-media"
            /></a>
            <a href="https://www.facebook.com/BUTECsal"target="_blank"
              ><img
                src="./assets/icons/social-facebook.svg"
                alt="Home image"
                class="footer-social-media"
            /></a>
            <a href="https://www.instagram.com/butecgroup/"target="_blank"
              ><img
                src="./assets/icons/social-instagram.svg"
                alt="Home image"
                class="footer-social-media"
            /></a>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 text-to-center"
          >
          <span class="rights"
              >© 2024 BUTEC. All rights reserved</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
