<div class="scroll-y">
  <section class="details-box">
    <div class="details-box-content red-border">
      <div class="mb-2">
        <a class="details-header"
          ><img
            src="./assets/icons/back-arrow.svg"
            alt="join image"
            class="ic_arrow details-to-left"
          />
          <span class="details-back-arrow"><strong> News</strong></span></a
        >
      </div>
      <div class="mb-2">
        <span class="details-title">
          BUTEC Regional MENA Winner in the Power Project of the year
        </span>
      </div>
      <div class="mb-2">
        <span class="details-subtitle">Award · 28 November, 2022</span>
      </div>
      <!--<div class="details-space">
        <img
          src="./assets/images/home_image.jpg"
          alt="Business Line image"
          class="details-icon"
        />
      </div>-->
    </div>
    <div class="details-img-box">
      <img
        src="./assets/images/News-Details-Main1.webp"
        alt="Business Line image"
        class="details-main-img img-fluid"
      />
    </div>
  </section>
  <section class="details-desc-box">
    <div>
      <p class="details-img-sub-title">
        Sharjah Waste to Energy power plant is MENA Winner at one of the
        region’s biggest infrastructure awards programme lorem ipsum dolors suit
        amen.
      </p>
      <p class="details-img-summ">
        After being awarded the UAE National Award, the Sharjah Waste to Energy
        power plant has been selected as the Regional MENA Winner in the Power
        Project of the Year category of this year’s 2022 MEED Projects Awards.
      </p>
      <p class="details-img-para">
        BUTEC’s general manager, Mr Tony Hanna, stated “We are very proud to
        contribute to the success of this landmark project and to the vision of
        the UAE aimed at reducing carbon emissions and generating clean power.
        BUTEC has pioneered the execution of challenging and complex projects
        since its inception more than 50 years ago, and this project is no
        exception” This project is the first of its kind in the UAE. The waste
        incineration process converts waste into heat which is then used to
        produce steam which in turn is used to drive a turbine and generator
        block. Effectively, this project transforms waste that had been
        contributing to global warming and posing long-term environmental
        hazards, into an energy-producing fuel that frees up land, generates
        power, and minimizes carbon emissions. Following an extensive submission
        and judging process, each of the MENA Winners, which were competing
        against the “National Project of the year” winners of the same category,
        were selected on the basis of a number of factors such as technological
        innovation, engineering excellence, and commitment to sustainable
        practices. The national winners went through a round of rigorous judging
        where an independent panel of more than 40 judges gathered to review
        them and select the overall MENA winners in each category which were
        announced at the awards ceremony held on 23rd November at The Ritz
        Carlton, JBR. The complete list of the 2022 MEED Projects Awards in
        association with Mashreq winners are available on the awards website
        https://www.projects-awards.meed.com/2022-mena-winners/ Sharjah Waste to
        Energy power plant is the MENA winner against its rivals at the 2022
        MEED Projects Awards, in association with Mashreq.
      </p>
    </div>
    <div class="details-left">
      <div class="container">
        <div class="row w-100">
          <div
            class="col-6 col-sm-6 col-s-6 col-xs-6 col-md-3 col-lg-3 col-xl-3 details-projects-container"
          >
            <img
              src="./assets/images/News-sub1.webp"
              alt="Business Line image"
              class="details-projects-imgs"
            />
          </div>
          <div
            class="col-6 col-sm-6 col-s-6 col-xs-6 col-md-3 col-lg-3 col-xl-3 details-projects-container"
          >
            <img
              src="./assets/images/News-sub2.webp"
              alt="Business Line image"
              class="details-projects-imgs"
            />
          </div>
          <!--<div
            class="col-md-3 col-lg-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 col-xl-3 details-projects-container"
          >
            <img
              src="./assets/images/home_image.jpg"
              alt="Business Line image"
              class="details-projects-imgs"
            />
          </div>-->
          <!--<div
            class="col-md-3 col-lg-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 col-xl-3 details-projects-container"
          >
            <img
              src="./images/home_image.jpg"
              alt="Business Line image"
              class="details-projects-imgs"
            />
          </div>-->
        </div>
      </div>
    </div>
  </section>
  <section class="text-to-center">
    <h2 class="other-projects-title">Other News</h2>
    <div class="container text-to-left w-100">
      <div class="row">
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-projects-container"
        >
          <img
            src="./assets/images/Other-news1.webp"
            alt="Business Line image"
            class="other-projects-img"
          />
          <div class="text-to-left">
            <span class="img-mini-title"
              >Partnership between BUTEC Group and ESA Business School</span
            ><br />
            <span class="img-mini-location">31 May, 2023</span>
          </div>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-projects-container"
        >
          <img
            src="./assets/images/Other-news2.webp"
            alt="Business Line image"
            class="other-projects-img"
          />
          <div class="text-to-left">
            <span class="img-mini-title"
              >National Winner – Power Project of the Year – Sharjah Waste to
              Energy Project</span
            ><br />
            <span class="img-mini-location">29 September, 2021</span>
          </div>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 other-projects-container"
        >
          <img
            src="./assets/images/Other-news3.webp"
            alt="Business Line image"
            class="other-projects-img"
          />
          <div class="text-to-left">
            <span class="img-mini-title"
              >BUTEC Group completes the takeover of ENGIE’s 17 Energy Services
              companies…</span
            ><br />
            <span class="img-mini-location">14 April, 2021</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
