<div class="scroll-y">
  <div class="f15-main">
    <div class="f15-1-main">
      <img class="f15-1-left" src="./images/icons/back-arrow.svg" />
      <div class="f15-1-right">OPEN POSITIONS</div>
    </div>
    <div class="f15-2">
      Senior Electrical Engineer - Renewable Energy Projects
    </div>
    <div class="f15-3">United Arab Emirates</div>

    <div class="f15-4">
      <div class="f15-4-flex">
        <div class="f15-4-bold">
          Business line:
          <span class="f15-4-normal">Engineering and Contracting</span>
        </div>
        <img
          src="./assets/icons/engineering_contracting_red.svg"
          class="f15-4-icon"
        />
      </div>
      <div class="f15-4-line"></div>

      <div class="f15-4-flex">
        <div class="f15-4-bold">
          Field:
          <span class="f15-4-normal">Project Controls</span>
        </div>
      </div>
      <div class="f15-4-line"></div>

      <div class="f15-4-flex">
        <div class="f15-4-bold">
          Competencies:
          <span class="f15-4-normal"
            >Strategic Planning, Communication Skills, Budgeting and Resource
            Allocation, Time Management</span
          >
        </div>
      </div>
      <div class="f15-4-line"></div>

      <div class="f15-4-flex">
        <div class="f15-4-bold">
          Employment type:
          <span class="f15-4-normal">Full time</span>
        </div>
      </div>
      <div class="f15-4-line"></div>

      <div class="f15-4-flex">
        <div class="f15-4-bold">
          Experience:
          <span class="f15-4-normal">Entry level</span>
        </div>
      </div>
      <div class="f15-4-line"></div>

      <div class="f15-4-flex">
        <div class="f15-4-bold">
          Education:
          <span class="f15-4-normal">Bachelor’s degree</span>
        </div>
      </div>
    </div>

    <div class="overview">Overview</div>

    <div class="overviewDesc">
      As a Senior Electrical Engineer specializing in Renewable Energy Projects,
      you will play a pivotal role in driving the design, implementation, and
      optimization of electrical systems for sustainable energy initiatives.
      Leveraging your extensive experience, you will contribute to the success
      of cutting-edge projects in the renewable energy sector, ensuring the
      integration of innovative electrical solutions and fostering a commitment
      to environmental stewardship.
    </div>

    <div class="overview">Responsibilities</div>
    <div class="subtitle">Project Leadership</div>

    <div class="overviewDesc1">
      <div class="bullet"></div>
      <div>
        Lead and manage the electrical engineering aspects of renewable energy
        projects from conception to completion.
      </div>
    </div>
    <div class="overviewDesc2">
      <div class="bullet"></div>
      <div>
        Collaborate with cross-functional teams to develop comprehensive project
        plans and timelines, ensuring alignment with organizational goals.
      </div>
    </div>

    <div class="subtitle">Design and Development</div>
    <div class="overviewDesc1">
      <div class="bullet"></div>
      <div>
        Spearhead the design and development of electrical systems for various
        renewable energy applications, including solar, wind, and energy storage
        projects.
      </div>
    </div>
    <div class="overviewDesc2">
      <div class="bullet"></div>
      <div>
        Conduct feasibility studies and technical assessments to optimize
        electrical system efficiency and performance.
      </div>
    </div>

    <div class="subtitle">Technical Expertise</div>
    <div class="overviewDesc1">
      <div class="bullet"></div>
      <div>
        Bring in-depth knowledge of electrical engineering principles to the
        table, ensuring the successful execution of projects.
      </div>
    </div>
    <div class="overviewDesc2">
      <div class="bullet"></div>
      <div>
        Stay abreast of industry trends, emerging technologies, and regulatory
        requirements to incorporate the latest advancements into project
        designs.
      </div>
    </div>

    <div class="subtitle">Quality Assurance</div>
    <div class="overviewDesc1">
      <div class="bullet"></div>
      <div>
        Implement rigorous quality assurance processes to guarantee the
        reliability and safety of electrical systems, adhering to industry
        standards and best practices.
      </div>
    </div>

    <div class="subtitle">Collaboration and Communication</div>

    <div class="overviewDesc1">
      <div class="bullet"></div>
      <div>
        Foster effective communication and collaboration with internal teams,
        external partners, and stakeholders to ensure seamless project
        execution.
      </div>
    </div>

    <div class="overviewDesc2">
      <div class="bullet"></div>
      <div>
        Provide technical guidance and mentorship to junior engineers, promoting
        knowledge sharing and professional development.
      </div>
    </div>

    <div class="overviewDesc2">
      <div class="bullet"></div>
      <div>
        Stay informed about relevant electrical codes, standards, and
        regulations, ensuring that all projects comply with legal requirements.
      </div>
    </div>

    <div class="overviewDesc2">
      <div class="bullet"></div>
      <div>
        Identify potential risks and challenges related to electrical systems
        during project development and proactively implement strategies to
        mitigate these risks.
      </div>
    </div>

    <div class="subtitle">Qualifications</div>
    <div class="overviewDesc1">
      <div class="bullet"></div>
      <div>
        Bachelor’s or Master’s degree in Electrical Engineering or a related
        field.
      </div>
    </div>
    <div class="overviewDesc2">
      <div class="bullet"></div>
      <div>
        Proven experience in the design and implementation of electrical systems
        for renewable energy projects, with a focus on solar and wind energy.
      </div>
    </div>
    <div class="overviewDesc2">
      <div class="bullet"></div>
      <div>Professional Engineer (PE) license is highly desirable.</div>
    </div>
    <div class="overviewDesc2">
      <div class="bullet"></div>
      <div>Proficient in electrical design software and simulation tools.</div>
    </div>
    <div class="overviewDesc2">
      <div class="bullet"></div>
      <div>
        Strong project management skills, with the ability to lead
        multidisciplinary teams.
      </div>
    </div>
    <div class="overviewDesc2">
      <div class="bullet"></div>
      <div>Excellent communication and interpersonal skills.</div>
    </div>
    <div class="overviewDesc2">
      <div class="bullet"></div>
      <div>
        Familiarity with industry regulations, codes, and standards related to
        renewable energy projects.
      </div>
    </div>

    <div class="blackbox">
      <div class="blackboxheader">
        Embark on a rewarding career and join our team!
      </div>

      <div class="yellowbutton" style="margin-top: 48px">
        <div class="yellowbuttontxt"><strong>APPLY NOW</strong></div>
      </div>
    </div>
  </div>
</div>
