<div class="scroll-y">
  <section>
    <img
      src="./assets/images/Facility Services Banner.webp"
      alt="Business Line image"
      class="bus-img img-fluid"
    />
    <img
    src="./assets/images/E&C_image.jpg"
    alt="Business Line image"
    class="bus-img2 img-fluid"
  />
  </section>
  <div>
    <img
      src="./assets/icons/facility_services_teal.svg"
      alt="Business Line icon"
      class="bus-icon"
    />
  </div>

  <section class="bus-headers teal-left-border">
    <div class="bus-titles-pos">
      <span class="bus-page-title text-nowrap">Business Lines</span>
      <h2 class="bus-project-title">Facility Services</h2>
      <img
        src="./assets/icons/facility_services_teal.svg"
        alt="Business Line icon"
        class="bus-icon-media"
      />
    </div>

    <div class="bus-content">
      <p class="shadow-paragraph">
        We don't just manage facilities, we curate solutions tailored to the
        needs of our diverse clients. As a premier full-service facilities
        solutions provider, our services span from overseeing entire facilities
        from inception to maintenance to meticulously handling specific sections
        with precision. Think of us as experts, dedicated to getting the job
        done with a smile.
      </p>
      <br />
      <p class="bus-paragraph-desc">
        Our team excels in managing operational activities within facilities,
        encompassing maintenance, security, and space management. While we
        prioritize the end product, we also dive into the details as well,
        skillfully managing low-current systems like fire alarms, security
        systems (complete with access control and intrusion detection), and
        electrical setups to fortify a facility's security.
      </p>
      <div class="text-to-center bus-box-space">
        <div class="container margin-left-0">
          <div class="row">
            <div
              class="col-lg-3 col-md-3 col-xs-6 col-sm-6 col-xl-3 text-to-center bus-box"
            >
              <h5 class="bus-box-title">16+</h5>
              <p class="bus-box-text">megaprojects in 2023</p>
            </div>
            <div
              class="col-lg-3 col-md-3 col-xs-6 col-sm-6 col-xl-3 text-to-center bus-box"
            >
              <h5 class="bus-box-title">Lorem</h5>
              <p class="bus-box-text">ipsum dolors sit met</p>
            </div>
            <div
              class="col-lg-3 col-md-3 col-xs-6 col-sm-6 col-xl-3 text-to-center bus-box"
            >
              <h5 class="bus-box-title">$150M+</h5>
              <p class="bus-box-text">global turnover</p>
            </div>
            <div
              class="col-lg-3 col-md-3 col-xs-6 col-sm-6 col-xl-3 text-to-center bus-box"
            >
              <h5 class="bus-box-title">Lorem</h5>
              <p class="bus-box-text">ipsum dolors sit met</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="bus-paragraph-desc">
          When it comes to Heating, Ventilation, and Air Conditioning (HVAC)
          systems, we're not just optimizing, we're reducing energy waste,
          amplifying efficiency, and elevating air quality and temperature
          control. Our goal is to provide a breath of fresh air while being
          eco-conscious and prioritizing our customers' well-being. In terms of
          Building Management Systems (BMS), we're experts at it – from control
          rooms monitoring distinct building functions to executing technical
          tasks with finesse. We extend beyond cleaning, pest-controlling, and
          landscaping, by ensuring environmental consciousness and adhering to
          crucial health and safety measures. We ensure the power stays on too.
          Consider us the custodians of uninterrupted power supply, managing
          UPSs (Uninterruptible Power Supplies) and generators with precision.
          The same level of precision is applied to fire services, from managing
          and maintaining fire detection systems to handling firefighting
          equipment and implementing fire safety protocols. We're here to
          prevent as well as manage fire hazards, ensuring the health and safety
          of our customers. Our commitment goes beyond managing spaces, it's
          about creating environments where satisfaction is guaranteed, and our
          customers' well-being is prioritized. Through our facility management,
          we're creating efficient, secure, and environmentally conscious
          experiences with our customers in mind.
        </p>
      </div>
    </div>
  </section>

  <section class="other-projects-content">
    <h2 class="other-projects-title2">Projects</h2>
    <div class="other-project-box-space">
      <div class="container">
        <div class="row">
          <div
            class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xl-4 other-projects-container"
          >
            <img
              src="./assets/icons/facility_services_white.svg"
              alt="Business Line icon"
              class="projects-mini-icon2 teal-background"
            />
            <img
              src="./assets/images/Sharjah Waste To Energy Plant - UAE.webp"
              alt="Business Line image"
              class="other-projects-img1"
            />

            <div class="project-details-box">
              <h6 class="project-details-title">
                Sharjah Waste To Energy Plant
              </h6>
              <br />
              <p class="project-details-location">UAE</p>
            </div>
          </div>
          <div
            class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xl-4 other-projects-container"
          >
            <img
              src="./assets/icons/facility_services_white.svg"
              alt="Business Line icon"
              class="projects-mini-icon2 teal-background"
            />
            <img
              src="./assets/images/Tripoli Sea Outfall - Lebanon.webp"
              alt="Business Line image"
              class="other-projects-img1"
            />

            <div class="project-details-box">
              <h6 class="project-details-title">Tripoli Sea Outfall</h6>
              <br />
              <p class="project-details-location">Lebanon</p>
            </div>
          </div>
          <div
            class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xl-4 other-projects-container"
          >
            <img
              src="./assets/icons/facility_services_white.svg"
              alt="Business Line icon"
              class="projects-mini-icon2 teal-background"
            />
            <img
              src="./assets/images/Tripoli Waste Water Treatment Plant - Lebanon.webp"
              alt="Business Line image"
              class="other-projects-img1"
            />

            <div class="project-details-box">
              <h6 class="project-details-title">
                Tripoli Waste Water Treatment Plant
              </h6>
              <br />
              <p class="project-details-location">Lebanon</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 text-to-center">
      <button class="show-more-btn2" [routerLink]="['/', 'List-Projects']">
        <strong class="show-more-text">SHOW MORE</strong>
      </button>
    </div>
    <footer
    class="footer-container"
    style="position: relative; margin-top: 120px"
  >
    <div class="footer-content">
      <div class="container footer-links">
        <div class="row">
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Business Lines</h6>
            <ul class="mt-2">
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Engineering-Contracting']"
              >
                Engineering & Contracting
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Electro-Mechanical']"
              >
                Electro-Mechanical Solutions
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Facility-Services']"
              >
                Facility Services
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Utility-Services']"
              >
                Utility Services
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'List-Projects']">
                Projects
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Company</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" [routerLink]="['/', 'Leadership']">
                Leadership
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Story']">
                The Story
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'why-choose-us']">
                Why Choose Us
              </li>
              <li class="footer-subtitle">ESG</li>
              <li class="footer-subtitle" [routerLink]="['/', 'List-News']">
                News
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Contact']">
                Contact
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Careers</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" [routerLink]="['/', 'Butec-Life']">
                Life at BUTEC
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Butec-Academy']">
                BUTEC Academy
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Positions']">
                Open Positions
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Privacy</h6>
            <ul class="mt-2">
              <li class="footer-subtitle">Privacy Policy</li>
              <li class="footer-subtitle">Cookie Policy</li>
              <li class="footer-subtitle">Terms and Conditions</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3 footer-icons">
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer-lines-space"
            >
              <a href="https://www.linkedin.com/company/butecgroup/" target="_blank"
                ><img
                  src="./assets/icons/social-linkedin.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://twitter.com/butecsal" target="_blank">
                <img
                  src="./assets/icons/social-twitter.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.facebook.com/BUTECsal"target="_blank"
                ><img
                  src="./assets/icons/social-facebook.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.instagram.com/butecgroup/"target="_blank"
                ><img
                  src="./assets/icons/social-instagram.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
            </div>
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 text-to-center"
            >
              <span class="rights"
                >© 2024 BUTEC. All rights reserved</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </section>
</div>
