<div class="scroll-y">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-12 col-lg-5 col-s-12 col-sm-12 col-xl-5">
          <h1 class="projects-page-title text-nowrap">Projects</h1>
        </div>
        <div class="col-md-12 col-lg-7 col-s-12 col-sm-12 col-xl-7">
          <p class="projects-page-text">
            Discover our diverse portfolio of projects, showcasing engineering
            excellence and innovative solutions driving industry standards
            forward.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="gray-filter-container">
    <div class="container container-to-center">
      <div class="row gray-filter-box">
        <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <h6 class="gray-filter-title">Filter by</h6>
        </div>
        <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <h6 class="gray-filter-subtitle">Business Line</h6>
        </div>
        <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <h6 class="gray-filter-subtitle1">Field</h6>
        </div>
        <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <h6 class="gray-filter-subtitle2">Location</h6>
        </div>
      </div>
    </div>
  </section>



  <section>
    <div class="container">
      <div class="row">
        <div
          class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
        >
        <a (click)="GoToPage()">
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background2"
          />
          <img
            src="./assets/images/Lusail Marina District Cooling Plant - Qatar.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
          <h6 class="projects-title text-nowrap">
            Lusail Marina District Cooling Plant
          </h6>
          <br />
          <span class="projects-sub-text">Qatar</span>
        </a>
        </div>
        <div
          class="col-6 col-md-6 col-lg-6 col-s-6 col-sm-6 col-xl-6 project-images-box"
        >
        <a (click)="GoToPage()">
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background2"
          />
          <img
            src="./assets/images/Queen Alia International Airport - Jordan.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
          <div>
            <h6 class="projects-title text-nowrap">
              Queen Alia International Airport
            </h6>
            <br />
            <span class="projects-sub-text">Jordan</span>
          </div>
        </a>
        </div>

        <div
          class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
        >
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background2"
          />
          <img
            src="./assets/images/Tripoli Wastewater Treatment Plant - Lebanon.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
          <div>
            <h6 class="projects-title text-nowrap">
              Tripoli Wastewater Treatment Plant
            </h6>
            <br />
            <span class="projects-sub-text">Lebanon</span>
          </div>
        </div>
        <div
          class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
        >
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background2"
          />
          <img
            src="./assets/images/Djelfa, Mecheria, Mostaganem Wastewater Treatment Plants - Algeria.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
          <div>
            <h6 class="projects-title3 text-nowrap">
              Djelfa, Mecheria, Mostaganem Wastewater Treatment Plants
            </h6>
            <br />
            <span class="projects-sub-text">Algeria</span>
          </div>
        </div>
        <div
          class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
        >
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background2"
          />
          <img
            src="./assets/images/Sharjah Waste To Energy Project - UAE.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
          <div>
            <h6 class="projects-title text-nowrap">
              Sharjah Waste To Energy Project
            </h6>
            <br />
            <span class="projects-sub-text">UAE</span>
          </div>
        </div>
        <div
          class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
        >
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background2"
          />
          <img
            src="./assets/images/Taweelah Aluminium Extrusion Plant - UAE.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
          <div>
            <h6 class="projects-title text-nowrap">
              Taweelah Aluminium Extrusion Plant
            </h6>
            <br />
            <span class="projects-sub-text">UAE</span>
          </div>
        </div>
        <div
          class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
        >
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background2"
          />
          <img
            src="./assets/images/Total - Cote D'Ivoire.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
          <div>
            <h6 class="projects-title text-nowrap">Total</h6>
            <br />
            <span class="projects-sub-text">Cote D'Ivoire</span>
          </div>
        </div>
        <div
          class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
        >
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background2"
          />
          <img
            src="./assets/images/Kusile - South Africa.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
          <div>
            <h6 class="projects-title text-nowrap">Kusile</h6>
            <br />
            <span class="projects-sub-text">South Africa</span>
          </div>
        </div>
        <div
          class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
        >
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background2"
          />
          <img
            src="./assets/images/Umm Qasr Power Plant - Iraq.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
          <div>
            <h6 class="projects-title text-nowrap">Umm Qasr Power Plant</h6>
            <br />
            <span class="projects-sub-text">Iraq</span>
          </div>
        </div>
        <div
          class="col-6 col-md-6 col-lg-6 col-s-12 col-sm-12 col-xl-6 project-images-box"
        >
          <img
            src="./assets/icons/facility_services_white.svg"
            alt="Business Line icon"
            class="projects-icon teal-background2"
          />
          <img
            src="./assets/images/Anec Niger - Cote D'Ivoire.webp"
            alt="Business Line image"
            class="projects-images img-fluid"
          />
          <div>
            <h6 class="projects-title text-nowrap">Anec Niger</h6>
            <br />
            <span class="projects-sub-text">Cote D'Ivoire</span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-to-center w-100">
      <button class="show-more-btn">
        <strong class="show-more-text">SHOW MORE</strong>
      </button>
    </div>
    <footer
    class="footer-container"
    style="position: relative; margin-top: 120px"
  >
    <div class="footer-content">
      <div class="container footer-links">
        <div class="row">
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Business Lines</h6>
            <ul class="mt-2">
              <li
                class="footer-subtitle"
                fragment ="Engineering-Contracting"
              >
                Engineering & Contracting
              </li>
              <li
                class="footer-subtitle"
                fragment ="Electro-Mechanical"
              >
                Electro-Mechanical Solutions
              </li>
              <li
                class="footer-subtitle"
                fragment ="Facility-Services"
              >
                Facility Services
              </li>
              <li
                class="footer-subtitle"
                fragment ="Utility-Services"
              >
                Utility Services
              </li>
              <li class="footer-subtitle" fragment ="List-Projects">
                Projects
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Company</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" fragment ="Leadership">
                Leadership
              </li>
              <li class="footer-subtitle" fragment ="Story">
                The Story
              </li>
              <li class="footer-subtitle" fragment ="why-choose-us">
                Why Choose Us
              </li>
              <li class="footer-subtitle">ESG</li>
              <li class="footer-subtitle" fragment ="List-News">
                News
              </li>
              <li class="footer-subtitle" fragment ="Contact">
                Contact
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Careers</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" fragment ="['/', 'Butec-Life']">
                Life at BUTEC
              </li>
              <li class="footer-subtitle" fragment ="['/', 'Butec-Academy']">
                BUTEC Academy
              </li>
              <li class="footer-subtitle" fragment ="['/', 'Positions']">
                Open Positions
              </li>
            </ul>
          </div>
        <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Privacy</h6>
            <ul class="mt-2">
              <li class="footer-subtitle">Privacy Policy</li>
              <li class="footer-subtitle">Cookie Policy</li>
              <li class="footer-subtitle">Terms and Conditions</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3 footer-icons">
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer-lines-space"
            >
              <a href="https://www.linkedin.com/company/butecgroup/" target="_blank"
                ><img
                  src="./assets/icons/social-linkedin.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://twitter.com/butecsal" target="_blank">
                <img
                  src="./assets/icons/social-twitter.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.facebook.com/BUTECsal"target="_blank"
                ><img
                  src="./assets/icons/social-facebook.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.instagram.com/butecgroup/"target="_blank"
                ><img
                  src="./assets/icons/social-instagram.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
            </div>
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 text-to-center"
            >
              <span class="rights"
                >© 2024 BUTEC. All rights reserved</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </section>
</div>
