<div class="scroll-y">
  <section class="bus-section">
    <div class="section">
      <img
        src="./assets/images/Electro Mechanical Banner.webp"
        alt="Business Line image"
        class="bus-img img-fluid"
      />
      <img
        src="./assets/images/Electricity-Distribution-mobile.jpg"
        alt="Business Line image"
        class="bus-img2 img-fluid"
      />
    </div>
  </section>
  <div>
    <img
      src="./assets/icons/electro_mechincal_cerulean.svg"
      alt="Business Line icon"
      class="bus-icon"
    />
  </div>

  <section class="bus-headers cerulean-left-border">
    <div class="bus-titles-pos">
      <span class="bus-page-title text-nowrap">Business Lines</span>
      <h2 class="bus-project-title">Electro-Mechanical<br />Solutions</h2>
      <img
        src="./assets/icons/electro_mechincal_cerulean.svg"
        alt="Business Line icon"
        class="bus-icon-media"
      />
    </div>

    <div class="bus-content">
      <p class="shadow-paragraph">
        BUTEC deepened its existing specialization in the Electro-Mechanical
        field by acquiring a group of dedicated companies within this domain.
        Our narrative is one of passion, embracing a diverse range of activities
        in this specialty, and offering bespoke solutions to address
        Electro-Mechanical complex challenges while optimizing your business
        operations.
      </p>
      <p class="bus-paragraph-desc">
        In the domain of Telecommunications, particularly Fiber to the Home
        (FTTH), we stand out in ensuring seamless fiber-optic cable connections
        for both residential and commercial properties.
      </p>
      <div class="text-to-left bus-box-space">
        <div class="container margin-left-0">
          <div class="row">
            <div
              class="col-lg-3 col-md-3 col-xs-6 col-sm-6 col-xl-3 text-to-center bus-box"
            >
              <h5 class="bus-box-title">16+</h5>
              <p class="bus-box-text">megaprojects in 2023</p>
            </div>
            <div
              class="col-lg-3 col-md-3 col-xs-6 col-sm-6 col-xl-3 text-to-center bus-box"
            >
              <h5 class="bus-box-title">Lorem</h5>
              <p class="bus-box-text">ipsum dolors sit met</p>
            </div>
            <div
              class="col-lg-3 col-md-3 col-xs-6 col-sm-6 col-xl-3 text-to-center bus-box"
            >
              <h5 class="bus-box-title">$150M+</h5>
              <p class="bus-box-text">global turnover</p>
            </div>
            <div
              class="col-lg-3 col-md-3 col-xs-6 col-sm-6 col-xl-3 text-to-center bus-box"
            >
              <h5 class="bus-box-title">Lorem</h5>
              <p class="bus-box-text">ipsum dolors sit met</p>
            </div>
          </div>
        </div>
      </div>
      <p class="bus-paragraph-desc">
        Navigating the intricate landscape of High-Voltage Electrical Networks,
        CFO applications, and Electrical and Instrumentation projects (E&I), we
        prioritize precision in our installations, thorough testing,
        commissioning, and preparedness for emergency repairs. Delving into
        Low-Voltage Systems (CFA), such as firefighting and fire alarms,
        audiovisual setups, and access control systems, our specialization
        encompasses not just installation but also testing, maintenance, and
        emergency repairs, ensuring the safety of your premises. In the domain
        of Industrial Automation, we specialize in integrating control systems,
        robotics, and machinery for enhanced industrial efficiency. Our UPS
        systems ensure an uninterrupted and secure power supply during
        electrical outages, preventing productivity loss, data corruption, or
        equipment damage. Within Heating, Ventilation, and Air Conditioning
        (HVAC), we excel by providing tailored solutions for complex centers or
        state-of-the-art data centers. At the core of it all is our consultative
        approach that goes beyond each facet of our offerings, ensuring you make
        informed decisions tailored to your specific needs. With BUTEC, your
        journey through the world of Electro-Mechanical Solutions is not just a
        partnership - it's a narrative crafted to elevate your success.
      </p>
    </div>
  </section>
  <section class="other-projects-content3 text-to-center">
    <h2 class="other-projects-title1 text-to-center">Projects</h2>
    <div class="text-to-center other-project-box-space">
      <div class="container">
        <div class="row">
          <div
            class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xl-4"
          >
            <img
              src="./assets/icons/electro_mechincal_white.svg"
              alt="Business Line icon"
              class="projects-mini-icon1 cerulean-background"
            />
            <img
              src="./assets/images/Sharjah Waste To Energy Plant - UAE.webp"
              alt="Business Line image"
              class="other-projects-img1"
            />

            <div class="project-details-box">
              <h6 class="project-details-title">
                Sharjah Waste To Energy Plant
              </h6>
              <br />
              <p class="project-details-location">UAE</p>
            </div>
          </div>
          <div
            class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xl-4"
          >
            <img
              src="./assets/icons/electro_mechincal_white.svg"
              alt="Business Line icon"
              class="projects-mini-icon1 cerulean-background"
            />
            <img
              src="./assets/images/Tripoli Sea Outfall - Lebanon.webp"
              alt="Business Line image"
              class="other-projects-img1"
            />

            <div class="project-details-box">
              <h6 class="project-details-title">Tripoli Sea Outfall</h6>
              <br />
              <p class="project-details-location">Lebanon</p>
            </div>
          </div>
          <div
            class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xl-4"
          >
            <img
              src="./assets/icons/electro_mechincal_white.svg"
              alt="Business Line icon"
              class="projects-mini-icon1 cerulean-background"
            />
            <img
              src="./assets/images/Tripoli Waste Water Treatment Plant - Lebanon.webp"
              alt="Business Line image"
              class="other-projects-img1"
            />

            <div class="project-details-box">
              <h6 class="project-details-title">
                Tripoli Waste Water Treatment Plant
              </h6>
              <br />
              <p class="project-details-location">Lebanon</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 text-to-center">
      <button class="show-more-btn" [routerLink]="['/', 'List-Projects']">
        <strong class="show-more-text">SHOW MORE</strong>
      </button>
    </div>
    <footer
    class="footer-container"
    style="position: relative; margin-top: 120px"
  >
    <div class="footer-content">
      <div class="container footer-links">
        <div class="row">
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Business Lines</h6>
            <ul class="mt-2">
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Engineering-Contracting']"
              >
                Engineering & Contracting
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Electro-Mechanical']"
              >
                Electro-Mechanical Solutions
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Facility-Services']"
              >
                Facility Services
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Utility-Services']"
              >
                Utility Services
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'List-Projects']">
                Projects
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Company</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" [routerLink]="['/', 'Leadership']">
                Leadership
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Story']">
                The Story
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'why-choose-us']">
                Why Choose Us
              </li>
              <li class="footer-subtitle">ESG</li>
              <li class="footer-subtitle" [routerLink]="['/', 'List-News']">
                News
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Contact']">
                Contact
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Careers</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" [routerLink]="['/', 'Butec-Life']">
                Life at BUTEC
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Butec-Academy']">
                BUTEC Academy
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Positions']">
                Open Positions
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Privacy</h6>
            <ul class="mt-2">
              <li class="footer-subtitle">Privacy Policy</li>
              <li class="footer-subtitle">Cookie Policy</li>
              <li class="footer-subtitle">Terms and Conditions</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3 footer-icons">
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer-lines-space"
            >
              <a href="https://www.linkedin.com/company/butecgroup/" target="_blank"
                ><img
                  src="./assets/icons/social-linkedin.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://twitter.com/butecsal" target="_blank">
                <img
                  src="./assets/icons/social-twitter.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.facebook.com/BUTECsal"target="_blank"
                ><img
                  src="./assets/icons/social-facebook.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.instagram.com/butecgroup/"target="_blank"
                ><img
                  src="./assets/icons/social-instagram.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
            </div>
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 text-to-center"
            >
              <span class="rights"
                >© 2024 BUTEC. All rights reserved</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </section>
</div>
