<div class="scroll-y">
  <section class="details-box">
    <div class="details-box-content gold-left-border">
      <div class="mb-2">
        <a class="details-header"
          ><img
            src="./assets/icons/back-arrow.svg"
            alt="Back Arrow"
            class="ic_arrow details-to-left"
          />
          <span class="details-back-arrow"><strong>Projects</strong></span></a
        >
      </div>
      <h2 class="details-space details-title text-nowrap">
        Tour Mohammed VI Project
      </h2>
      <img
        src="./assets/icons/ic_expertise_1_red.svg"
        alt="Business Line image"
        class="details-icon details-space"
      />
    </div>

    <div class="details-img-box">
      <img
        src="./assets/images/Tour Mohammed VI-main.webp"
        alt="Business Line image"
        class="details-main-img img-fluid"
      />
    </div>
  </section>
  <section class="details-desc-box">
    <p>
      BUTEC contributed to the construction of the 2nd Lebanese biggest city
      Waste Water Treatment Plant “Tripoli”. This plant financed by the European
      Investment Bank (EIB) will treat more than 1 000 000 inhabitant equivalent
      waste water (135 000 m3/day) before discharging the purified water to the
      Mediterranean Sea. The Plant using the biological treatment processes
      developed by the SUEZ will treat also the sludge. Indeed, before being
      incinerated in the plant constructed furnace, the sludge Aerobic Digestion
      will be used to produce Green Energy to recover part of the facilities
      electrical consumptions. BUTEC’s scope of work encompassed the
      Engineering, procurement and construction for civil works and
      electromechanical networks (process & domestic) as well as installation of
      process equipment (pretreatment, aeration tanks, clarifiers, digesters,
      blowers …) of the plant.
    </p>
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-6 col-lg-6 text-to-left">
          <span class="details-spec-title">Type of Contract</span><br />
          <span class="details-spec-text">EPC</span>
        </div>
        <div class="col-md-6 col-lg-6 text-to-left">
          <span class="details-spec-title">Role of BUTEC</span><br />
          <span class="details-spec-text"
            >Contractor for civil & MEP works and installation of process
            equipment.</span
          >
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 col-lg-6 text-to-left">
          <span class="details-spec-title">Contractor for process</span><br />
          <span class="details-spec-text"
            >Degrémont, subsidiary of “Groupe Suez”</span
          >
        </div>
        <div class="col-md-6 col-lg-6 text-to-left">
          <span class="details-spec-title">Execution Period</span><br />
          <span class="details-spec-text">6 Years (2003 to 2009)</span>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 col-lg-6 text-to-left">
          <span class="details-spec-title">Financing</span><br />
          <span class="details-spec-text"
            >European Investment Bank (EIB) Lebanese Government for civil
            works</span
          >
        </div>
        <div class="col-md-6 col-lg-6 text-to-left">
          <span class="details-spec-title">Employer</span><br />
          <span class="details-spec-text">Ministry of Energy and Water</span>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 col-lg-6 text-to-left">
          <span class="details-spec-title">Delegated Employer</span><br />
          <span class="details-spec-text"
            >Council for Development and Reconstruction</span
          >
        </div>
        <div class="col-md-6 col-lg-6 text-to-left">
          <span class="details-spec-title">Location</span><br />
          <span class="details-spec-text">Lebanon</span>
        </div>
      </div>
      <div>
        <div class="row">
          <div
            class="col-md-3 col-lg-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 col-xl-3 details-projects-container"
          >
            <img
              src="./assets/images/Tour Mohammed VI11.webp"
              alt="Business Line image"
              class="details-projects-imgs"
            />
          </div>
          <div
            class="col-md-3 col-lg-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 col-xl-3 details-projects-container"
          >
            <img
              src="./assets/images/Tour Mohammed VI12.webp"
              alt="Business Line image"
              class="details-projects-imgs"
            />
          </div>
          <div
            class="col-md-3 col-lg-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 col-xl-3 details-projects-container"
          >
            <img
              src="./assets/images/Tour Mohammed VI13.webp"
              alt="Business Line image"
              class="details-projects-imgs"
            />
          </div>
          <div
            class="col-md-3 col-lg-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 col-xl-3 details-projects-container"
          >
            <img
              src="./assets/images/Tour Mohammed VI14.webp"
              alt="Business Line image"
              class="details-projects-imgs"
            />
          </div>
        </div>
      </div>
      <div class="mt-4">
        <div class="row">
          <div
            class="col-md-3 col-lg-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 col-xl-3 details-projects-container"
          >
            <img
              src="./assets/images/Tour Mohammed VI15.webp"
              alt="Business Line image"
              class="details-projects-imgs"
            />
          </div>
          <div
            class="col-md-3 col-lg-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 col-xl-3 details-projects-container"
          >
            <img
              src="./assets/images/Tour Mohammed VI16.webp"
              alt="Business Line image"
              class="details-projects-imgs"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="other-projects-content1">
    <h2 class="other-projects-title">Other Projects</h2>
    <div class="other-project-box-space">
      <div class="container">
        <div class="row">
          <div
            class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xl-4 other-projects-container1"
          >
            <img
              src="./assets/icons/ic-expertise-2.svg"
              alt="Business Line icon"
              class="projects-mini-icon1"
            />
            <img
              src="./assets/images/Lusail-Marina-District-Cooling-Plant---Qatar.webp"
              alt="Business Line image"
              class="other-projects-img1"
            />

            <div class="project-details-box">
              <h6 class="project-details-title">
                Lusail Marina District Cooling Plant
              </h6>
              <br />
              <p class="project-details-location">Qatar</p>
            </div>
          </div>
          <div
            class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xl-4 other-projects-container1"
          >
            <img
              src="./assets/icons/ic-expertise-2.svg"
              alt="Business Line icon"
              class="projects-mini-icon1"
            />
            <img
              src="./assets/images/Talex-Aluminium-Extrusion-Factory---UAE.webp"
              alt="Business Line image"
              class="other-projects-img1"
            />

            <div class="project-details-box">
              <h6 class="project-details-title">
                Talex-Aluminium-Extrusion-Factory
              </h6>
              <br />
              <p class="project-details-location">UAE</p>
            </div>
          </div>
          <div
            class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-xl-4 other-projects-container1"
          >
            <img
              src="./assets/icons/ic-expertise-2.svg"
              alt="Business Line icon"
              class="projects-mini-icon1"
            />
            <img
              src="./assets/images/Umm-Qasr-Power-Plant---Qatar.webp"
              alt="Business Line image"
              class="other-projects-img1"
            />

            <div class="project-details-box">
              <h6 class="project-details-title">Umm-Qasr-Power-Plant</h6>
              <br />
              <p class="project-details-location">Qatar</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="w-100 text-to-center">
      <button class="show-more-btn">
        <strong class="show-more-text">SHOW MORE</strong>
      </button>
    </div>-->
  </section>
  <div></div>
</div>
