<form class="main-con">
  <div>
    <h1>{{ buttonName }} Expertise</h1>
  </div>
  <div class="row form-group mt-4">
    <div class="col-md-6">
      <label for="expertiseTitleInput">Title</label>
      <input
        #TitleInput
        type="text"
        class="form-control"
        id="expertiseTitleInput"
        placeholder="Title"
        [(ngModel)]="expertiseTitle"
        name="expertiseTitle"
      />
    </div>
    <div class="col-md-6" *ngIf="expertiseId != null">
      <label for="languageSelect">Language</label>
      <select
        class="form-control"
        id="languageSelect"
        [(ngModel)]="selectedLanguageId"
        name="languageSelect"
        (change)="LanguageSelectionChange($event)"
      >
        <option value="2">English</option>
        <option value="3">French</option>
        <option value="1">Arabic</option>
      </select>
    </div>
    <div class="col-md-6" *ngIf="expertiseId == null">
      <label for="languageSelect">Language</label>
      <select
        class="form-control"
        id="languageSelect"
        name="languageSelect"
        (change)="LanguageSelectionChange($event)"
      >
        <option value="-1">Select Language</option>
        <option value="2">English</option>
        <option value="3">French</option>
        <option value="1">Arabic</option>
      </select>
    </div>
  </div>
  <div class="row form-group mt-4">
    <div class="col-md-6" *ngIf="expertiseId != null">
      <label for="expertiseSelect">Expertise</label>
      <select
        class="form-control"
        id="expertiseSelect"
        [(ngModel)]="selectedExpertiseText"
        name="expertiseSelect"
        (change)="ExpertiseSelectionChange($event)"
      >
        <option value="8">General Contracting Expertise</option>
        <option value="9">Electro Mechanical Contracting Expertise</option>
        <option value="10">Hard and Soft Facility Management Expertise</option>
        <option value="11">Utility Services Expertise</option>
      </select>
    </div>
    <div class="col-md-6" *ngIf="expertiseId == null">
      <label for="expertiseSelect">Expertise</label>
      <select
        class="form-control"
        id="expertiseSelect"
        name="expertiseSelect"
        (change)="ExpertiseSelectionChange($event)"
      >
        <option value="-1">Select Expertise</option>
        <option value="8">General Contracting Expertise</option>
        <option value="9">Electro Mechanical Contracting Expertise</option>
        <option value="10">Hard and Soft Facility Management Expertise</option>
        <option value="11">Utility Services Expertise</option>
      </select>
    </div>
  </div>
  <div class="row form-group mt-4">
    <div class="form-group">
      <fieldset class="form-group">
        <label>Main Image</label>
        <!--{{ imageError }}-->
        <div class="custom-file fileInputProfileWrap">
          <input
            type="file"
            (change)="OnFileChange($event)"
            class="fileInputProfile form-control"
          />
          <div class="img-space mt-2" id="image">
            <ng-container *ngIf="isImageSaved; else elseTemplate">
              <img
                class="imagesize img-responsive"
                id="chosenImage"
                alt="No Image"
                [src]="cardImageBase64"
              />
            </ng-container>
            <ng-template #elseTemplate>
              <img
                *ngIf="expertiseId == null || image == null || image == ''"
                src="./../../assets/img/image_placeholder.png"
                class="imagesize img-responsive"
                alt="No Image"
              />
              <img
                *ngIf="expertiseId != null && image != null && image != ''"
                src="{{ image }}"
                class="imagesize img-responsive"
                alt="No Image"
              />
            </ng-template>
          </div>
        </div>
      </fieldset>
      <!--<label for="imageInput">Project Image</label>&nbsp;
        <input
          type="file"
          class="form-control-file"
          id="imageInput"
          (change)="OnFileChange($event)"
        />&nbsp;-->
    </div>
  </div>
  <div class="row form-group mt-4">
    <div class="col-md-12">
      <label for="paragraph1TxtArea">Introduction</label>
      <textarea
        class="form-control"
        id="paragraph1TxtArea"
        rows="5"
        [(ngModel)]="paragraph1"
        name="Introduction"
      ></textarea>
    </div>
  </div>
  <div class="row form-group mt-4">
    <div class="col-md-12">
      <label for="summaryTxtArea">Summary</label>
      <textarea
        class="form-control"
        id="paragraph2TxtArea"
        rows="5"
        [(ngModel)]="paragraph2"
        name="Summary"
      ></textarea>
    </div>
  </div>
  <div class="row form-group mt-4">
    <div class="col-md-12">
      <label for="paragraph3TxtArea">Descriprion</label>
      <textarea
        class="form-control"
        id="paragraph3TxtArea"
        rows="5"
        [(ngModel)]="paragraph3"
        name="description"
      ></textarea>
    </div>
  </div>
  <!--<div class="row form-group mt-4">
      <div class="col-md-12">
        <label for="notesTxtArea">Notes</label>
        <textarea
          class="form-control"
          id="notesTxtArea"
          rows="5"
          [(ngModel)]="notes"
          name="notes"
        ></textarea>
      </div>
    </div>-->
  <div class="row form-group mt-4">
    <div class="m-t-20 text-center">
      <a
        class="btn btn-primary btn-lg"
        (click)="AddEditExpertise()"
        href="javascript:void(0)"
        >{{ buttonName }} Expertise</a
      >
    </div>
  </div>
  <!--<div class="form-group">
      <label for="exampleFormControlSelect2">Example multiple select</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">textarea</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>-->
</form>
