
  <!--<div class="mainflex">
    <div class="flexleft">Open positions</div>
    <div class="flexright">
      Explore exciting career opportunities with BUTEC and be part of a dynamic
      team driving innovation and excellence.
    </div>
  </div>-->

  <section>
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-lg-5 col-xl-5"
        >
          <h1 class="projects-page-title">
            Open<br />
            positions
          </h1>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-xl-7 text-to-bottom"
        >
          <p class="projects-page-text text-to-bottom">
            Explore exciting career opportunities with BUTEC and be part of a
            dynamic team driving innovation and excellence.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="gray-filter-container">
    <div class="container container-to-center">
      <div class="row gray-filter-box">
        <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <h6 class="gray-filter-title">Filter by</h6>
        </div>
        <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <h6 class="gray-filter-subtitle">Business Line</h6>
        </div>
        <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <h6 class="gray-filter-subtitle1">Field</h6>
        </div>
        <div class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <h6 class="gray-filter-subtitle2">Location</h6>
        </div>
      </div>
    </div>
  </section>

  <section class="position-container">
    <div class="container container-to-center">
      <div class="row position-box">
        <div
          class="col-10 col-xs-10 col-s-10 col-sm-10 col-md-10 col-lg-10 col-xl-10"
        >
          <h6 class="position-title">
            Project Coordinator - Infrastructure Development
          </h6>
          <div class="position-location-space">
            <span class="position-location">Lebanon</span>
          </div>

          <h6 class="position-link" [routerLink]="['/', 'Position-Details']">
            Read more and apply
          </h6>
        </div>

        <div class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <img
            alt=""
            src="./assets/icons/engineering_contracting_red.svg"
            class="position-icon"
          />
        </div>
      </div>
    </div>
    <div class="container container-to-center">
      <div class="row position-box">
        <div
          class="col-10 col-xs-10 col-s-10 col-sm-10 col-md-10 col-lg-10 col-xl-10"
        >
          <h6 class="position-title">
            Senior Electrical Engineer - Renewable Energy Projects
          </h6>
          <div class="position-location-space">
            <span class="position-location">United Arab Emirates</span>
          </div>

          <h6 class="position-link" [routerLink]="['/', 'Position-Details']">
            Read more and apply
          </h6>
        </div>

        <div class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <img
            alt=""
            src="./assets/icons/new icon for Utility Services.jpg"
            class="position-icon"
          />
        </div>
      </div>
    </div>
    <div class="container container-to-center">
      <div class="row position-box">
        <div
          class="col-10 col-xs-10 col-s-10 col-sm-10 col-md-10 col-lg-10 col-xl-10"
        >
          <h6 class="position-title">
            Project Coordinator - Infrastructure Development
          </h6>
          <div class="position-location-space">
            <span class="position-location">Lebanon</span>
          </div>

          <h6 class="position-link" [routerLink]="['/', 'Position-Details']">
            Read more and apply
          </h6>
        </div>

        <div class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <img
            alt=""
            src="./assets/icons/new icon for Utility Services.jpg"
            class="position-icon"
          />
        </div>
      </div>
    </div>
    <div class="container container-to-center">
      <div class="row position-box">
        <div
          class="col-10 col-xs-10 col-s-10 col-sm-10 col-md-10 col-lg-10 col-xl-10"
        >
          <h6 class="position-title">
            Senior Electrical Engineer - Renewable Energy Projects
          </h6>
          <div class="position-location-space">
            <span class="position-location">United Arab Emirates</span>
          </div>

          <h6 class="position-link" [routerLink]="['/', 'Position-Details']">
            Read more and apply
          </h6>
        </div>

        <div class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <img
            alt=""
            src="./assets/icons/facility_services_teal.svg"
            class="position-icon"
          />
        </div>
      </div>
    </div>
    <div class="container container-to-center">
      <div class="row position-box">
        <div
          class="col-10 col-xs-10 col-s-10 col-sm-10 col-md-10 col-lg-10 col-xl-10"
        >
          <h6 class="position-title">
            Project Coordinator - Infrastructure Development
          </h6>
          <div class="position-location-space">
            <span class="position-location">Lebanon</span>
          </div>

          <h6 class="position-link" [routerLink]="['/', 'Position-Details']">
            Read more and apply
          </h6>
        </div>

        <div class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <img
            alt=""
            src="./assets/icons/engineering_contracting_red.svg"
            class="position-icon"
          />
        </div>
      </div>
    </div>

    <div class="container container-to-center">
      <div class="row position-box">
        <div
          class="col-10 col-xs-10 col-s-10 col-sm-10 col-md-10 col-lg-10 col-xl-10"
        >
          <h6 class="position-title">
            Senior Electrical Engineer - Renewable Energy Projects
          </h6>
          <div class="position-location-space">
            <span class="position-location">United Arab Emirates</span>
          </div>

          <h6 class="position-link" [routerLink]="['/', 'Position-Details']">
            Read more and apply
          </h6>
        </div>

        <div class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <img
            alt=""
            src="./assets/icons/electro_mechincal_cerulean.svg"
            class="position-icon"
          />
        </div>
      </div>
    </div>
    <div class="container container-to-center">
      <div class="row position-box">
        <div
          class="col-10 col-xs-10 col-s-10 col-sm-10 col-md-10 col-lg-10 col-xl-10"
        >
          <h6 class="position-title">
            Project Coordinator - Infrastructure Development
          </h6>
          <div class="position-location-space">
            <span class="position-location">Lebanon</span>
          </div>

          <h6 class="position-link" [routerLink]="['/', 'Position-Details']">
            Read more and apply
          </h6>
        </div>

        <div class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <img
            alt=""
            src="./assets/icons/electro_mechincal_cerulean.svg"
            class="position-icon"
          />
        </div>
      </div>
    </div>
    <div class="container container-to-center">
      <div class="row position-box">
        <div
          class="col-10 col-xs-10 col-s-10 col-sm-10 col-md-10 col-lg-10 col-xl-10"
        >
          <h6 class="position-title">
            Senior Electrical Engineer - Renewable Energy Projects
          </h6>
          <div class="position-location-space">
            <span class="position-location">United Arab Emirates</span>
          </div>

          <h6 class="position-link" [routerLink]="['/', 'Position-Details']">
            Read more and apply
          </h6>
        </div>

        <div class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <img
            alt=""
            src="./assets/icons/facility_services_teal.svg"
            class="position-icon"
          />
        </div>
      </div>
    </div>

    <div class="text-to-center w-100">
      <button class="show-more-btn">
        <strong class="show-more-text">SHOW MORE</strong>
      </button>
    </div>

    <div class="gray-box-container container-to-center">
      <div class="gray-box-content">
        <h6 class="gray-box-title">
          Didn’t find the perfect match?<br />Submit an online form for upcoming
          opportunities
        </h6>
        <div>
          <button class="gray-box-btn">
            <a
              style="text-decoration: none; color: #000000"
              href="https://www.butec.com/careers/apply/"
              ><strong>APPLY NOW</strong></a
            >
          </button>
        </div>
      </div>
    </div>
  </section>
<footer class="footer-container" style="position: relative; top: 150px">
  <div class="footer-content">
    <div class="container footer-links">
      <div class="row">
        <div
          class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
        >
          <h6 class="footer-title">Business Lines</h6>
          <ul class="mt-2">
            <li
              class="footer-subtitle"
              [routerLink]="['/', 'Engineering-Contracting']"
            >
              Engineering & Contracting
            </li>
            <li
              class="footer-subtitle"
              [routerLink]="['/', 'Electro-Mechanical']"
            >
              Electro-Mechanical Solutions
            </li>
            <li
              class="footer-subtitle"
              [routerLink]="['/', 'Facility-Services']"
            >
              Facility Services
            </li>
            <li
              class="footer-subtitle"
              [routerLink]="['/', 'Utility-Services']"
            >
              Utility Services
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'List-Projects']">
              Projects
            </li>
          </ul>
        </div>
        <div
          class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
        >
          <h6 class="footer-title">Company</h6>
          <ul class="mt-2">
            <li class="footer-subtitle" [routerLink]="['/', 'Leadership']">
              Leadership
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'Story']">
              The Story
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'why-choose-us']">
              Why Choose Us
            </li>
            <li class="footer-subtitle">ESG</li>
            <li class="footer-subtitle" [routerLink]="['/', 'List-News']">
              News
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'Contact']">
              Contact
            </li>
          </ul>
        </div>
        <div
          class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
        >
          <h6 class="footer-title">Careers</h6>
          <ul class="mt-2">
            <li class="footer-subtitle" [routerLink]="['/', 'Butec-Life']">
              Life at BUTEC
            </li>
            <li class="footer-subtitle" [routerLink]="['/', 'Butec-Academy']">
              BUTEC Academy
            </li>
            <li class="footer-subtitle">Open Positions</li>
          </ul>
        </div>
        <div
          class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
        >
          <h6 class="footer-title">Privacy</h6>
          <ul class="mt-2">
            <li class="footer-subtitle" [routerLink]="['/', 'Policy']">Privacy Policy</li>
            <li class="footer-subtitle">Cookie Policy</li>
            <li class="footer-subtitle">Terms and Conditions</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-3 footer-icons">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer-lines-space"
          >
            <a href="https://www.linkedin.com/company/butecgroup/" target="_blank"
              ><img
                src="./assets/icons/social-linkedin.svg"
                alt="Home image"
                class="footer-social-media"
            /></a>
            <a href="https://twitter.com/butecsal" target="_blank">
              <img
                src="./assets/icons/social-twitter.svg"
                alt="Home image"
                class="footer-social-media"
            /></a>
            <a href="https://www.facebook.com/BUTECsal"target="_blank"
              ><img
                src="./assets/icons/social-facebook.svg"
                alt="Home image"
                class="footer-social-media"
            /></a>
            <a href="https://www.instagram.com/butecgroup/"target="_blank"
              ><img
                src="./assets/icons/social-instagram.svg"
                alt="Home image"
                class="footer-social-media"
            /></a>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 text-to-center"
          >
          <span class="rights"
              >© 2024 BUTEC. All rights reserved</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
