<div class="scroll-y">
  <section>
    <img src="./assets/images/Life-11.webp" alt="" class="bus-img img-fluid" />
    <img
    src="./assets/images/life-Mobile.jpg"
    alt="Business Line image"
    class="bus-img2 img-fluid"
  />
  </section>
  <section class="bus-headers gold-left-border">
    <div class="bus-titles-pos">
      <span class="bus-page-title">Careers</span>
      <h2 class="bus-project-title">Life at BUTEC</h2>
    </div>

    <div class="bus-content">
      <p class="life-header-summ">
        Discover the essence of corporate life at BUTEC, where a commitment to
        excellence, innovation, and professional development defines our
        workplace culture. Join us as we embody a corporate ethos that fosters
        growth, diversity, and collaborative success.
      </p>
      <h6 class="life-sub">Our people</h6>
      <p class="life-sub-para">
        BUTEC boasts a workforce of 4,200 employees, including 370 highly
        qualified engineers and administrators. Our corporate culture, founded
        on mutual loyalty, is nurtured by management, fostering a genuine team
        spirit. This cohesion enables effective resolution of challenges in
        project execution, with accumulated experience invested in future
        endeavors. Our engineers, graduates of reputable universities, cover
        various disciplines, bringing extensive on-site experience and staying
        abreast of industry advancements through in-house initiatives and
        frequent training opportunities abroad.
      </p>
      <div class="life-box1">
        <div class="container">
          <div class="row">
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5">
              <h6 class="life-box-title">Diversity and inclusion</h6>
            </div>
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7">
              <p class="life-box-text">
                Embracing diversity is integral to our ethos at BUTEC. We foster
                an inclusive workforce that celebrates various cultures and
                beliefs, recognizing that diversity fuels creativity, enriches
                our work environment, and drives greater achievements.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="life-box1">
        <div class="container">
          <div class="row">
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5">
              <h6 class="life-box-title">Corporate culture</h6>
            </div>
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7">
              <p class="life-box-text">
                From day one, we immerse newcomers in our culture and core
                values, instilling a commitment to excellence. Our focus on
                career development includes providing challenging opportunities,
                exposure, and the tools needed for continuous learning.
                Investing in our people’s development is the essence of our
                success.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="life-box1">
        <div class="container">
          <div class="row">
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5">
              <h6 class="life-box-title">Career development</h6>
            </div>
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7">
              <p class="life-box-text">
                In line with our commitment to excellence, BUTEC invests in
                human capital, providing the essential tools to optimize
                learning and growth. Our employees benefit from challenging
                opportunities and exposure, expanding their knowledge and
                enhancing expertise. We firmly believe that investing in
                people’s development is the essence of our success.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="life-box1">
        <img
          src="./assets/images/Life-sub1.webp"
          alt="Business Line image"
          class="life-sub-img img-fluid"
        />
      </div>

      <div class="life-sub-title">
        <h2 class="life-sub">Our employee value proposition</h2>
        <p class="life-sub-para">
          Building a career at BUTEC starts with an open mindset, flexibility,
          and resilience. Every employee is a pioneer, exploring new work
          territories with top clients. We thrive on growth, evolve careers, and
          foster a friendly atmosphere where every voice is heard and valued.
        </p>
      </div>
      <div class="life-box1">
        <div class="container">
          <div class="row">
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5">
              <h6 class="life-box-title">Dynamism</h6>
            </div>
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7">
              <p class="life-box-text">
                In a corporate world, BUTEC is a family where every employee is
                valued, every voice is heard, and every door remains open.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="life-box1">
        <div class="container">
          <div class="row">
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5">
              <h6 class="life-box-title">Friendly atmosphere</h6>
            </div>
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7">
              <p class="life-box-text">
                We embrace versatility, navigate different markets, and live for
                the love of new challenges, always rekindling our passion to
                learn.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="life-box1">
        <div class="container">
          <div class="row">
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5">
              <h6 class="life-box-title">Exposure and opportunities</h6>
            </div>
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7">
              <p class="life-box-text">
                We embrace versatility, navigate different markets, and live for
                the love of new challenges, always rekindling our passion to
                learn.
              </p>
              <div>
                <button
                  class="life-more-btn"
                  [routerLink]="['/', 'Butec-Academy']"
                >
                  <span class="life-more-btn-text"
                    ><strong
                      >More about the BUTEC Academy<img
                        src="./assets/icons/ic-arrow-on.svg"
                        alt="join image"
                        class="ic_arrow details-to-left" /></strong
                  ></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="life-box1">
        <img
          src="./assets/images/Life-sub2.webp"
          alt="Business Line image"
          class="life-sub-img img-fluid"
        />
      </div>

      <div>
        <h2 class="life-sub">Our hiring process</h2>
        <p class="life-sub-para">
          BUTEC seeks talented individuals with great potential to contribute to
          our dynamic team.
        </p>
      </div>
      <div class="life-box1">
        <div class="container">
          <div class="row">
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5">
              <h6 class="life-box-title">Equal Employment<br />Opportunity</h6>
            </div>
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7">
              <p class="life-box-text">
                Dedicated to equality, BUTEC provides opportunities based on
                merit, qualifications, and abilities, regardless of race, color,
                gender, age, religion, nationality, disability, or marital
                status.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="life-box1">
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 text-to-left"
            >
              <p class="life-box-title life-box-title-space life-text-format">
                Career fields
              </p>
            </div>
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-lg-6">
                    <ul
                      class="life-box-text"
                      style="list-style: url(./assets/icons/bullets.svg)"
                    >
                      <li class="text-nowrap">Business Development</li>
                      <li>Engineering</li>
                      <li>Adminstration</li>
                      <li>Tendering</li>
                      <li class="text-nowrap">Planning and Cost Control</li>
                      <li class="text-nowrap">Contracts Mangement</li>
                      <li class="text-nowrap">Project Management</li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <ul
                      class="life-box-text"
                      style="list-style: url(./assets/icons/bullets.svg)"
                    >
                      <li class="text-nowrap">Quality Assurance</li>
                      <li class="text-nowrap">Saftey and Environment</li>
                      <li class="text-nowrap">Human Resources</li>
                      <li class="text-nowrap">Information Technology</li>
                      <li class="text-nowrap">Finance and Accounting</li>
                      <li class="text-nowrap">Internal Audit</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="life-box1">
        <div class="container">
          <div class="row">
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5">
              <h6 class="life-box-title">How to apply</h6>
            </div>
            <div class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7">
              <p class="life-box-text">
                Interested candidates can fill out an application form and
                attach their CV at any time. Data will be incorporated into our
                database in line with our Privacy Policy. CVs matching the role
                profile will be selected, and candidates will be contacted by
                our recruitment team.
              </p>
              <div>
                <button class="life-more-btn" [routerLink]="['/', 'Positions']">
                  <span class="life-more-btn-text"
                    ><strong
                      >Check open positions<img
                        src="./assets/icons/ic-arrow-on.svg"
                        alt="join image"
                        class="ic_arrow details-to-left" /></strong
                  ></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer-container" style="position: relative; top: 4300px">
    <div class="footer-content5">
      <div class="container footer-links">
        <div class="row">
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Business Lines</h6>
            <ul class="mt-2">
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Engineering-Contracting']"
              >
                Engineering & Contracting
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Electro-Mechanical']"
              >
                Electro-Mechanical Solutions
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Facility-Services']"
              >
                Facility Services
              </li>
              <li
                class="footer-subtitle"
                [routerLink]="['/', 'Utility-Services']"
              >
                Utility Services
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'List-Projects']">
                Projects
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Company</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" [routerLink]="['/', 'Leadership']">
                Leadership
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Story']">
                The Story
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'why-choose-us']">
                Why Choose Us
              </li>
              <li class="footer-subtitle">ESG</li>
              <li class="footer-subtitle" [routerLink]="['/', 'List-News']">
                News
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Contact']">
                Contact
              </li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Careers</h6>
            <ul class="mt-2">
              <li class="footer-subtitle" [routerLink]="['/', 'Butec-Life']">
                Life at BUTEC
              </li>
              <li class="footer-subtitle" [routerLink]="['/', 'Butec-Academy']">
                BUTEC Academy
              </li>
              <li class="footer-subtitle">Open Positions</li>
            </ul>
          </div>
          <div
            class="col-3 col-xs-3 col-s-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          >
            <h6 class="footer-title">Privacy</h6>
            <ul class="mt-2">
              <li class="footer-subtitle">Privacy Policy</li>
              <li class="footer-subtitle">Cookie Policy</li>
              <li class="footer-subtitle">Terms and Conditions</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3 footer-icons">
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer-lines-space"
            >
              <a href="https://www.linkedin.com/company/butecgroup/" target="_blank"
                ><img
                  src="./assets/icons/social-linkedin.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://twitter.com/butecsal" target="_blank">
                <img
                  src="./assets/icons/social-twitter.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.facebook.com/BUTECsal"target="_blank"
                ><img
                  src="./assets/icons/social-facebook.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
              <a href="https://www.instagram.com/butecgroup/"target="_blank"
                ><img
                  src="./assets/icons/social-instagram.svg"
                  alt="Home image"
                  class="footer-social-media"
              /></a>
            </div>
            <div
              class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 text-to-center"
            >
            <span class="rights"
                >© 2024 BUTEC. All rights reserved</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
