/* main-content */
.main-con {
  margin-left: 320px;

  margin-top: 80px;
  padding: 10px 18px;
  transition: margin-left 0.5s;
}
/* main-content */

.make-it-right {
  float: right;
}
@media screen and (max-width: 500px) {
  .main-con {
    margin-left: 0px;

    margin-top: 80px;
    padding: 10px 18px;
    transition: margin-left 0.5s;
    overflow-y: auto;
  }
}
